---
import LayoutPaginas from '../../layouts/LayoutPaginas.astro'
import Content from '../../components/paginas/Content.astro'
import Titulo from '../../components/paginas/Titulo.astro'
import Slider from '../../components/paginas/Slider.astro'

const fotos = [
  {
    alt: 'Aguja Guillaumet',
    srcFotos: '../img/paginas/slider/climbing/agujaguillaument/guillaument6.jpg',
    srcThum: '../img/paginas/slider/climbing/agujaguillaument/guillaumentthumb6.jpg',
  },
  {
    alt: 'Aguja Guillaumet',
    srcFotos: '../img/paginas/slider/climbing/agujaguillaument/guillaument2.jpg',
    srcThum: '../img/paginas/slider/climbing/agujaguillaument/guillaumentthumb2.jpg',
  },
  {
    alt: 'Aguja Guillaumet',
    srcFotos: '../img/paginas/slider/climbing/agujaguillaument/guillaument7.jpg',
    srcThum: '../img/paginas/slider/climbing/agujaguillaument/guillaumentthumb7.jpg',
  },
  {
    alt: 'Aguja Guillaumet',
    srcFotos: '../img/paginas/slider/climbing/agujaguillaument/guillaument8.jpg',
    srcThum: '../img/paginas/slider/climbing/agujaguillaument/guillaumentthumb8.jpg',
  },
  {
    alt: 'Aguja Guillaumet',
    srcFotos: '../img/paginas/slider/climbing/agujaguillaument/guillaument9.jpg',
    srcThum: '../img/paginas/slider/climbing/agujaguillaument/guillaumentthumb9.jpg',
  },
]

---

<LayoutPaginas title="Escalada en Chalten | Aguja Guillaumet" description="">
  <div class="container text-start px-3 px-lg-5">

    <Titulo title=' Escalada en Chalten' />

    <div class="container text-center px-lg-5">
      <div class="row">

        <Content
          title='Aguja Guillaumet' 
          description='Aguja satélite del cordón del Fitz Roy, unos de los primeros objetivos a realizar en Patagonia. Una gran aventura para aquellos que quieran escalar estas desafiantes montañas. Posee diferentes rutas depende la época del año, como así también el interés del escalador.Bosques, pedreros y glaciares son algunos de los terrenos a transitar para alcanzar esta ansiada cumbre.'
          difficulty=' Alta'
          duration=' 3 días'
          pax=' 1 o 2 personas'
          time=' Noviembre a Marzo'
          hrefitinerary='/itinerarios/escalada/AgujaGuillaumet.pdf'

          link1=' Escalada'
          href1='/#escalada'
          link2=' Aguja Guillaumet'
          href2='/escalada/aguja-guillaumet'

        />

        <Slider miArray={fotos} />

      </div>
    </div>
  </div>
</LayoutPaginas>

<style>
  
</style>


