---
import LayoutPaginas from '../../layouts/LayoutPaginas.astro'
import Titulo from '../../components/paginas/Titulo.astro'

---

<LayoutPaginas title="About Us" description="">
  <div class="container text-start px-3 px-lg-5">

    <Titulo title=' About Us' />

    <div class="container text-center px-3 px-lg-5">
      <div class="row">

        <div class="col-auto col-lg-9 py-2 px-0">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb my-2">
              <li class="breadcrumb-item"><a class="text-decoration-none text-body-secondary" href="/">Home</a></li>
              <li class="breadcrumb-item active"><a class="text-decoration-none text-body-secondary" href="/#aboutus">About Us</a></li>
              <li class="breadcrumb-item active"><a class="text-decoration-none text-body-secondary" href="">Roberto Treu</a></li>
            </ol>
          </nav>
          <h5 class="fs-4 text-start text-body-secondary border-top pt-3">Roberto A. Treu</h5>
          <div class="texto fw-light ls-1 fs-5 text-start fst-italic text-body-secondary pe-2 pe-lg-4">
            <p>Roberto Treu “Indio” is originally from the province of San Juan where he found his passion for the mountains. He climbed many different peaks along the Andes, as well as in Bolivia, Brazil, Chile, France, Spain, Germany, Italy, Austria and Switzerland. Since 2006 he has lived in Patagonia where he has climbed important climbs and new routes in both the Cerro Torre and Fitz Roy mountain ranges. <br>
              Some of the most important achievements have been the Standhardt - Herron - Egger traverse and the "Directa Huarpe" new route which he put up on the west face of Cerro Torre. Including this ascent, he has climb numerous times Cerro Torre and Fitz Roy.<br>
              He is also an mountain guide courses Instructor and member for the technical committee or the AAGM (Asociación Argentina de Guías de Montaña).
          </div>    
        </div>
        
        <div class="col-auto col-lg-3 mt-5 px-lg-0">
          <div class="text-end">  
            <img src="../img/index/aboutus/RobertoTreu.jpg" class="img-fluid mb-2" alt="Roberto Treu">
              <a href="https://www.instagram.com/roberto_indio_treu/" target="_blank" class="fs-3 fw-lighter text-body-secondary text-decoration-none">
              <i class="fab fa-instagram "></i> instagram</a>
          </div>
        </div>
      
      </div>
    </div>
  </div>
</LayoutPaginas>

<style>
  .texto {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    letter-spacing: 1px; 
  }
</style>