---
import LayoutPaginas from '../../layouts/LayoutPaginas.astro'
import Titulo from '../../components/paginas/Titulo.astro'

---

<LayoutPaginas title="Tomás Aguiló" description="">
  <div class="container text-start px-3 px-lg-5">

    <Titulo title=' Nosotros' />

    <div class="container text-center px-3 px-lg-5">
      <div class="row">

        <div class="col-auto col-lg-9 py-2 px-0">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb my-2">
              <li class="breadcrumb-item"><a class="text-decoration-none text-body-secondary" href="/">Home</a></li>
              <li class="breadcrumb-item active"><a class="text-decoration-none text-body-secondary" href="/#nosotros">Nosotros</a></li>
              <li class="breadcrumb-item active"><a class="text-decoration-none text-body-secondary" href="">Tomás Aguiló</a></li>
            </ol>
          </nav>
          <h5 class="fs-4 text-start text-body-secondary border-top pt-3">Tomás R. Aguiló</h5>
          <div class="texto fw-light ls-1 fs-5 text-start fst-italic text-body-secondary pe-2 pe-lg-4">
            <p>
              Nacido en Bariloche, Guia de Alta Montaña UIAGM, reside en Chalten desde el 2006. A los 5 años de edad comenzó a esquiar y desde ahí desarrollo su pasión por las Montañas.<br>
              Trabajo y Escalo por Argentina, Chile, Peru, Bolivia, Nepal, España, Francia, Italia. En Argentina trabajo en Aconcagua en varias ocasiones, Patagonia Norte, y en Patagonia Sur “El Chalten” Ascendio 8 veces el Fitz Roy y 2 veces el Cerro Torre, sumado a numerosos ascensos en otras agujas.
            </p>
          </div>    
        </div>
        
        <div class="col-auto col-lg-3 mt-5 px-lg-0">
          <div class="text-end">
            <img src="../img/index/aboutus/TomasAguilo.jpg" class="img-fluid mb-2" alt="Tomás Roy Aguiló">
            <a href="https://www.instagram.com/fitzroyguide/" target="_blank" class="fs-3 fw-lighter text-body-secondary text-decoration-none">
            <i class="fab fa-instagram"></i> instagram</a>
          </div>
        </div>
      
      </div>
    </div>
  </div>
</LayoutPaginas>

<style>
  .texto {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    letter-spacing: 1px; 
  }
</style>