---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<h2 class="border-top border-bottom mt-4 pt-3 pb-3 display-6 titulo fw-light text-body-secondary">
  <i class="fa-sharp fa-solid fa-chevron-right" style="color: #58585a;"></i>
  {title}
</h2>

<style>
  .titulo {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; 
    letter-spacing: 1px;
  }
</style>

