---
import LayoutPaginas from '../../../layouts/LayoutPaginas.astro'
import Content from '../../../components/paginas/Content.astro'
import Titulo from '../../../components/paginas/Titulo.astro'
import Slider from '../../../components/paginas/Slider.astro'

const fotos = [
  {
    alt: 'Cerro Madsen',
    srcFotos: '/img/paginas/slider/skiing/cerromadsen/EsquiCerroMadsen1.jpg',
    srcThum: '/img/paginas/slider/skiing/cerromadsen/EsquiCerroMadsenThumb1.jpg',
  },
  {
    alt: 'Cerro Madsen',
    srcFotos: '/img/paginas/slider/skiing/cerromadsen/EsquiCerroMadsen4.jpg',
    srcThum: '/img/paginas/slider/skiing/cerromadsen/EsquiCerroMadsenThumb4.jpg',
  },
  {
    alt: 'Cerro Madsen',
    srcFotos: '/img/paginas/slider/skiing/cerromadsen/EsquiCerroMadsen5.jpg',
    srcThum: '/img/paginas/slider/skiing/cerromadsen/EsquiCerroMadsenThumb5.jpg',
  },
  {
    alt: 'Cerro Madsen',
    srcFotos: '/img/paginas/slider/skiing/cerromadsen/EsquiCerroMadsen7.jpg',
    srcThum: '/img/paginas/slider/skiing/cerromadsen/EsquiCerroMadsenThumb7.jpg',
  },
  {
    alt: 'Cerro Madsen',
    srcFotos: '/img/paginas/slider/skiing/cerromadsen/EsquiCerroMadsen8.jpg',
    srcThum: '/img/paginas/slider/skiing/cerromadsen/EsquiCerroMadsenThumb8.jpg',
  },
]

---

<LayoutPaginas title="Esquí en Patagonia | Cerro Madsen" description="">
  <div class="container text-start px-3 px-lg-5">

    <Titulo title=' Esquí en Patagonia' />

    <div class="container text-center px-lg-5">
      <div class="row">

        <Content
          title='Cerro Madsen Esquí Tour' 
          description='El Cerro Madsen está ubicado justo al Norte de la Laguna de los 3. ofrece una de las mejores vistas a todo el Cordon del Fitz Roy. Su cara este ofrece buena nieve y un descenso hasta el campamento Rio Blanco. El paso inferior, se encuentra al Oeste del Cerro Madsen, y su orientación es Sur, conservando muy buena nieve casi todo el invierno.'
          difficulty=' Media a Alta'
          duration=' 2 días'
          pax=' 1 a 4 personas'
          time=' Julio a Noviembre'
          hrefitinerary='/itinerarios/esqui/EsquiCerroMadsen.pdf'

          link1=' Esquí'
          href1='/#esqui'
          link2=' Patagonia Sur'
          href2='/esqui/patagonia-sur '

        />

        <Slider miArray={fotos} />

      </div>
    </div>
  </div>
</LayoutPaginas>

<style>
  
</style>


