---
import LayoutPaginas from '../../../layouts/LayoutPaginas.astro'
import Content from '../../../components/paginas/Content.astro'
import Titulo from '../../../components/paginas/Titulo.astro'
import Slider from '../../../components/paginas/Slider.astro'

const fotos = [
  {
    alt: 'Weekend Ski Tour in Chalten',
    srcFotos: '/img/paginas/slider/skiing/weekendskichalten/EsquiFinSemanaChalten5.jpg',
    srcThum: '/img/paginas/slider/skiing/weekendskichalten/EsquiFinSemanaChaltenThumb5.jpg',
  },
  {
    alt: 'Weekend Ski Tour in Chalten',
    srcFotos: '/img/paginas/slider/skiing/weekendskichalten/EsquiFinSemanaChalten1.jpg',
    srcThum: '/img/paginas/slider/skiing/weekendskichalten/EsquiFinSemanaChaltenThumb1.jpg',
  },
  {
    alt: 'Weekend Ski Tour in Chalten',
    srcFotos: '/img/paginas/slider/skiing/weekendskichalten/EsquiFinSemanaChalten7.jpg',
    srcThum: '/img/paginas/slider/skiing/weekendskichalten/EsquiFinSemanaChaltenThumb7.jpg',
  },
  {
    alt: 'Weekend Ski Tour in Chalten',
    srcFotos: '/img/paginas/slider/skiing/weekendskichalten/EsquiFinSemanaChalten4.jpg',
    srcThum: '/img/paginas/slider/skiing/weekendskichalten/EsquiFinSemanaChaltenThumb4.jpg',
  },
  {
    alt: 'Weekend Ski Tour in Chalten',
    srcFotos: '/img/paginas/slider/skiing/weekendskichalten/EsquiFinSemanaChalten2.jpg',
    srcThum: '/img/paginas/slider/skiing/weekendskichalten/EsquiFinSemanaChaltenThumb2.jpg',
  },
]

---

<LayoutPaginas title="Patagonia Ski | Weekend Ski Tour in Chalten" description="">
  <div class="container text-start px-3 px-lg-5">

    <Titulo title=' Patagonia Ski' />

    <div class="container text-center px-lg-5">
      <div class="row">

        <Content
          title='Three Days Ski Tour in Chalten' 
          description=' El Chalten is one of the best and unexplored Ski areas in Argentina. Skiing surrounded by mountains like Fitz Roy and Cerro Torre make this place unique. With this program we offer you to ski on one  the classic place in the area like Mosquito, take some glaciars tours like Cerro Creston and Cerro Vespignani; or do a longer tour to get to Cerro Madsen and ski very close to fitz roy.'
          difficulty=' Easy / Medium / High'
          duration=' 3 days'
          pax=' 1 o 4 persons'
          time=' July to October'
          hrefitinerary='/itineraries/skiing/SkiWeekendChalten.pdf'

          link1=' Skiing'
          href1='/#skiing'
          link2=' South Patagonia'
          href2='/skiing/south-patagonia'

        />

        <Slider miArray={fotos} />

      </div>
    </div>
  </div>
</LayoutPaginas>

<style>
  
</style>


