---
import LayoutPaginas from '../../../layouts/LayoutPaginas.astro'
import Content from '../../../components/paginas/Content.astro'
import Titulo from '../../../components/paginas/Titulo.astro'
import Slider from '../../../components/paginas/Slider.astro'

const fotos = [
  {
    alt: 'Una semana de Esquí de Montaña',
    srcFotos: '/img/paginas/slider/skiing/oneweekskichalten/EsquiUnaSemanaChalten3.jpg',
    srcThum: '/img/paginas/slider/skiing/oneweekskichalten/EsquiUnaSemanaChaltenThumb3.jpg',
  },
  {
    alt: 'Una semana de Esquí de Montaña',
    srcFotos: '/img/paginas/slider/skiing/oneweekskichalten/EsquiUnaSemanaChalten1.jpg',
    srcThum: '/img/paginas/slider/skiing/oneweekskichalten/EsquiUnaSemanaChaltenThumb1.jpg',
  },
  {
    alt: 'Una semana de Esquí de Montaña',
    srcFotos: '/img/paginas/slider/skiing/oneweekskichalten/EsquiUnaSemanaChalten7.jpg',
    srcThum: '/img/paginas/slider/skiing/oneweekskichalten/EsquiUnaSemanaChaltenThumb7.jpg',
  },
  {
    alt: 'Una semana de Esquí de Montaña',
    srcFotos: '/img/paginas/slider/skiing/oneweekskichalten/EsquiUnaSemanaChalten6.jpg',
    srcThum: '/img/paginas/slider/skiing/oneweekskichalten/EsquiUnaSemanaChaltenThumb6.jpg',
  },
  {
    alt: 'Una semana de Esquí de Montaña',
    srcFotos: '/img/paginas/slider/skiing/oneweekskichalten/EsquiUnaSemanaChalten2.jpg',
    srcThum: '/img/paginas/slider/skiing/oneweekskichalten/EsquiUnaSemanaChaltenThumb2.jpg',
  },
]

---

<LayoutPaginas title="Esquí en Patagonia | Una semana de Esquí de Montaña" description="">
  <div class="container text-start px-3 px-lg-5">

    <Titulo title=' Esquí en Patagonia' />

    <div class="container text-center px-lg-5">
      <div class="row">

        <Content
          title='Una semana de Esquí de Montaña' 
          description='El Chaltén es uno de los mejores e inexploradas áreas de esquí de montaña en la Argentina, con una temporada de invierno amplia y de magnífica nieve. La gran variedad de lugares, orientaciones e inclinaciones permiten la práctica del esquí en el clima patagónico. La esquiada en medio de las grandes montañas, como lo son el Fitz Roy y Cerro Torre lo hacen único. Una semana de esquí, en la mejor nieve de Patagonia y disfrutando de la pequeña localidad de El Chaltén es un gran objetivo de tu aventura. Cerro Vespignani, Mosquito, Crestón y Madsen son algunos de los lugares a visitar en Patagonia.'
          difficulty=' Baja a Alta'
          duration=' 7 días'
          pax=' 1 a 4 personas'
          time=' Julio a Octubre'
          hrefitinerary='/itinerarios/esqui/EsquiUnaSemanaChalten.pdf'

          link1=' Esquí'
          href1='/#esqui'
          link2=' Patagonia Sur'
          href2='/esqui/patagonia-sur'

        />

        <Slider miArray={fotos} />

      </div>
    </div>
  </div>
</LayoutPaginas>

<style>
  
</style>


