---
import LayoutPaginas from '../../../layouts/LayoutPaginas.astro'
import Content from '../../../components/paginas/Content.astro'
import Titulo from '../../../components/paginas/Titulo.astro'
import Slider from '../../../components/paginas/Slider.astro'

const fotos = [
  {
    alt: 'Cerro Crestón',
    srcFotos: '/img/paginas/slider/skiing/cerrocreston/EsquiCerroCreston2.jpg',
    srcThum: '/img/paginas/slider/skiing/cerrocreston/EsquiCerroCrestonThumb2.jpg',
  },
  {
    alt: 'Cerro Crestón',
    srcFotos: '/img/paginas/slider/skiing/cerrocreston/EsquiCerroCreston4.jpg',
    srcThum: '/img/paginas/slider/skiing/cerrocreston/EsquiCerroCrestonThumb4.jpg',
  },
  {
    alt: 'Cerro Crestón',
    srcFotos: '/img/paginas/slider/skiing/cerrocreston/EsquiCerroCreston6.jpg',
    srcThum: '/img/paginas/slider/skiing/cerrocreston/EsquiCerroCrestonThumb6.jpg',
  },
  {
    alt: 'Cerro Crestón',
    srcFotos: '/img/paginas/slider/skiing/cerrocreston/EsquiCerroCreston8.jpg',
    srcThum: '/img/paginas/slider/skiing/cerrocreston/EsquiCerroCrestonThumb8.jpg',
  },
  {
    alt: 'Cerro Crestón',
    srcFotos: '/img/paginas/slider/skiing/cerrocreston/EsquiCerroCreston7.jpg',
    srcThum: '/img/paginas/slider/skiing/cerrocreston/EsquiCerroCrestonThumb7.jpg',
  },
]

---

<LayoutPaginas title="Esquí en Patagonia | Cerro Crestón" description="">
  <div class="container text-start px-3 px-lg-5">

    <Titulo title=' Esquí en Patagonia' />

    <div class="container text-center px-lg-5">
      <div class="row">

        <Content
          title='Cerro Crestón Esquí Tour' 
          description='El Cerro Crestón se encuentra ubicado al sur del Cerro Vespigniani. Ofrece muchas alternativas, para todos los niveles y diferentes momentos de la temporada. desde sus pendientes de 20 grados hasta inclinaciones de 50 grados para los más experimentados. De la cara sur del Cerro Creston, nace un pequeño glaciar, el cual crea un ambiente inigualable, esquiando cerca de los seracs.'
          difficulty=' Media / Alta'
          duration=' 1 día'
          pax=' 1 a 4 personas'
          time=' Julio a Octubre'
          hrefitinerary='/itinerarios/esqui/EsquiCerroCreston.pdf'

          link1=' Esquí'
          href1='/#esqui'
          link2=' Patagonia Sur'
          href2='/esqui/patagonia-sur'

        />

        <Slider miArray={fotos} />

      </div>
    </div>
  </div>
</LayoutPaginas>

<style>
  
</style>


