---
import LayoutPaginas from '../../layouts/LayoutPaginas.astro'
import Content from '../../components/paginas/Content.astro'
import Titulo from '../../components/paginas/Titulo.astro'
import Slider from '../../components/paginas/Slider.astro'

const fotos = [
  {
    alt: 'Ice Field Expedition',
    srcFotos: '../img/paginas/slider/mountaineering/vueltacampoloshielos/vueltaaloshielos01.jpg',
    srcThum: '../img/paginas/slider/mountaineering/vueltacampoloshielos/vueltaaloshielos01MINI.jpg',
  },
  {
    alt: 'Ice Field Expedition',
    srcFotos: '../img/paginas/slider/mountaineering/vueltacampoloshielos/vueltaaloshielos02.jpg',
    srcThum: '../img/paginas/slider/mountaineering/vueltacampoloshielos/vueltaaloshielos02MINI.jpg',
  },
  {
    alt: 'Ice Field Expedition',
    srcFotos: '../img/paginas/slider/mountaineering/vueltacampoloshielos/vueltaaloshielos03.jpg',
    srcThum: '../img/paginas/slider/mountaineering/vueltacampoloshielos/vueltaaloshielos03MINI.jpg',
  },
  {
    alt: 'Ice Field Expedition',
    srcFotos: '../img/paginas/slider/mountaineering/vueltacampoloshielos/vueltaaloshielos04.jpg',
    srcThum: '../img/paginas/slider/mountaineering/vueltacampoloshielos/vueltaaloshielos04MINI.jpg',
  },
  {
    alt: 'Ice Field Expedition',
    srcFotos: '../img/paginas/slider/mountaineering/vueltacampoloshielos/vueltaaloshielos05.jpg',
    srcThum: '../img/paginas/slider/mountaineering/vueltacampoloshielos/vueltaaloshielos05MINI.jpg',
  },
]

// const breadcrumb = [
//   {
//     link1: '',
//     href1: '',
//     link2: '',
//     link3: '',
    
//   }
// ]
---

<LayoutPaginas title="Patagonia Mountain | Ice Field" description="">
  <div class="container text-start px-3 px-lg-5">

    <Titulo title=' Patagonia Mountain' />

    <div class="container text-center px-lg-5">
      <div class="row">

        <Content
          title='Patagonia Ice Field' 
          description='One of the most demanding expeditions and of an incomparable beauty. This white world of about 13,000 km2 is where most of the glaciers of Southern Patagonia come from. This white paradise takes you to a unique setting, the so-called Cirque of the Altars. This is a place where the ice is surrounded by large granite towers such as Cerro Torre, Egger and Standhardt among others.'
          difficulty=' Medium'
          duration=' 7 days'
          pax=' 1 or 3 people'
          time=' October to February'
          hrefitinerary='../itineraries/mountaineering/ExpeditionIceField.pdf'

          link1=' Mountaineering'
          href1='/#mountaineering'
          link2=' Ice Field'
          href2='/mountaineering/ice-field'

        />

        <Slider miArray={fotos} />

      </div>
    </div>
  </div>
</LayoutPaginas>

<style>
  
</style>


