---
import LayoutPaginas from '../../layouts/LayoutPaginas.astro'
import Titulo from '../../components/paginas/Titulo.astro'
import Slider from '../../components/paginas/Slider.astro'

const fotos = [
  {
    alt: 'Curso Esquí Montaña',
    srcFotos: '/img/paginas/slider/courses/ski-mountaineering/cursoski5.jpg',
    srcThum: '/img/paginas/slider/courses/ski-mountaineering/cursoskithumb5.jpg',
  },
  {
    alt: 'Curso Esquí Montaña',
    srcFotos: '/img/paginas/slider/courses/ski-mountaineering/cursoski7.jpg',
    srcThum: '/img/paginas/slider/courses/ski-mountaineering/cursoskithumb7.jpg',
  },
  {
    alt: 'Curso Esquí Montaña',
    srcFotos: '/img/paginas/slider/courses/ski-mountaineering/cursoski4.jpg',
    srcThum: '/img/paginas/slider/courses/ski-mountaineering/cursoskithumb4.jpg',
  },
  {
    alt: 'Curso Esquí Montaña',
    srcFotos: '/img/paginas/slider/courses/ski-mountaineering/cursoski8.jpg',
    srcThum: '/img/paginas/slider/courses/ski-mountaineering/cursoskithumb8.jpg',
  },
  {
    alt: 'Curso Esquí Montaña',
    srcFotos: '/img/paginas/slider/courses/ski-mountaineering/cursoski2.jpg',
    srcThum: '/img/paginas/slider/courses/ski-mountaineering/cursoskithumb2.jpg',
  },
]

---

<LayoutPaginas title="Cursos en Patagonia | Curso Esquí Montaña" description="">
  <div class="container text-start px-3 px-lg-5">

    <Titulo title=' Cursos en Patagonia' />

    <div class="container text-center px-lg-5">
      <div class="row">
        <div class="col-auto col-lg-6 py-2 px-0">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb my-2">
              <li class="breadcrumb-item"><a class="text-decoration-none text-body-secondary" href="/">Home</a></li>
              <li class="breadcrumb-item active"><a class="text-decoration-none text-body-secondary" href=/#cursos>Cursos</a></li>
              <li class="breadcrumb-item active"><a class="text-decoration-none text-body-secondary" href=/cursos/curso-esqui-montana>Curso Esquí</a></li>
            </ol>
          </nav>
          <h3 class="fs-3 fw-normal text-start text-body-secondary border-top pt-3">Curso Esquí Montaña</h3>
          <div class="texto fw-light ls-1 fs-5 text-start fst-italic text-body-secondary pe-0 pe-lg-4">
            <p>
              El objetivo de este curso es insertar en el mundo del esquí de montaña aquel aficionado del esquí alpino. Formar y construir una base sólida en lo que respecta a los conocimientos de seguridad en ambiente de montaña.Ampliar los objetivos deportivos de las personas en la práctica de este deporte invernal.</br>
              <b>Duración del Curso:</b></br>
              - 2 clases teóricas</br>
              - 5 salidas, durante todo el día
              </p>
              <a href="/itinerarios/cursos/CursoEsquiMontana.pdf" target="_blank" class="fs-5 fw-normal link-secondary fst-normal text-body-secondary icon-link icon-link-hover link-offset-2-hover link-underline link-underline-opacity-0 link-underline-opacity-100-hover" role="button" aria-label="Descargar Itinerario">DESCARGAR ITINERARIO</a>
              <i class="fa-solid fa-file-arrow-down bi text-decoration-none ms-2"></i>
          </div>    
        </div>

        <Slider miArray={fotos} />

      </div>
    </div>
  </div>
</LayoutPaginas>

<style>
  .texto {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    letter-spacing: 1px; 
  }
</style>
