---
import LayoutPaginas from '../../layouts/LayoutPaginas.astro'
import Content from '../../components/paginas/Content.astro'
import Titulo from '../../components/paginas/Titulo.astro'
import Slider from '../../components/paginas/Slider.astro'

const fotos = [
  {
    alt: 'Curso Escalada en Roca',
    srcFotos: '/img/paginas/slider/courses/rock-climbing/cursoroca1.jpg',
    srcThum: '/img/paginas/slider/courses/rock-climbing/cursorocaMINI1.jpg',
  },
  {
    alt: 'Curso Escalada en Roca',
    srcFotos: '/img/paginas/slider/courses/rock-climbing/cursoroca4.jpg',
    srcThum: '/img/paginas/slider/courses/rock-climbing/cursorocaMINI4.jpg',
  },
  {
    alt: 'Curso Escalada en Roca',
    srcFotos: '/img/paginas/slider/courses/rock-climbing/cursoroca10.jpg',
    srcThum: '/img/paginas/slider/courses/rock-climbing/cursorocaMINI10.jpg',
  },
  {
    alt: 'Curso Escalada en Roca',
    srcFotos: '/img/paginas/slider/courses/rock-climbing/cursoroca8.jpg',
    srcThum: '/img/paginas/slider/courses/rock-climbing/cursorocaMINI8.jpg',
  },
  {
    alt: 'Curso Escalada en Roca',
    srcFotos: '/img/paginas/slider/courses/rock-climbing/cursoroca7.jpg',
    srcThum: '/img/paginas/slider/courses/rock-climbing/cursorocaMINI7.jpg',
  },
]

---

<LayoutPaginas title="Cursos en Patagonia | Curso Escalada en Roca" description="">
  <div class="container text-start px-3 px-lg-5">

    <Titulo title=' Curso Escalada en Roca' />

    <div class="container text-center px-lg-5">
      <div class="row">
        <div class="col-auto col-lg-6 py-2 px-0">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb my-2">
              <li class="breadcrumb-item"><a class="text-decoration-none text-body-secondary" href="/">Home</a></li>
              <li class="breadcrumb-item active"><a class="text-decoration-none text-body-secondary" href=/#cursos>Cursos</a></li>
              <li class="breadcrumb-item active"><a class="text-decoration-none text-body-secondary" href=/cursos/curso-escalada-roca>Escalada en Roca</a></li>
            </ol>
          </nav>
          <h3 class="fs-3 fw-normal text-start text-body-secondary border-top pt-3">Escalada en Roca Nivel I y II</h3>
          <div class="texto fw-light ls-1 fs-5 text-start fst-italic text-body-secondary pe-0 pe-lg-4">
            <p>
              El objetivo de los cursos es insertar en el mundo de la roca, aquellas personas que se inician o aquellos que poseen un conocimiento previo en esta disciplina. Formar y construir una base sólida en lo que respecta a los conocimientos de seguridad en la escalada deportiva en roca. Generar escaladores que se manejen con criterio, fluidez y autonomía en los distintos centros de escalada deportiva. Ampliar los objetivos deportivos de las personas que practican este deporte.</br>
              <b>Duración del Curso:</b></br>
              - 4 clases teóricas</br>
              - 5 salidas a la roca durante todo el día</br>
              - 1 día de examen teórico y práctico
              </p>
              <a href="/itinerarios/cursos/CursodeEscaladaRocaNivelIyII.pdf" target="_blank" class="fs-5 fw-normal link-secondary fst-normal text-body-secondary icon-link icon-link-hover link-offset-2-hover link-underline link-underline-opacity-0 link-underline-opacity-100-hover" role="button" aria-label="Descargar Itinerario">DESCARGAR ITINERARIO</a>
              <i class="fa-solid fa-file-arrow-down bi text-decoration-none ms-2"></i>
          </div>    
        </div>
        
        <Slider miArray={fotos} />

      </div>
    </div>
  </div>
</LayoutPaginas>

<style>
  .texto {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    letter-spacing: 1px; 
  }
</style>
