---
import LayoutPaginas from '../../layouts/LayoutPaginas.astro'
import Content from '../../components/paginas/Content.astro'
import Titulo from '../../components/paginas/Titulo.astro'
import Slider from '../../components/paginas/Slider.astro'

const fotos = [
  {
    alt: 'Glacier Trek',
    srcFotos: '/img/paginas/slider/creston/glacier-trek/glacier-trek-8.jpg',
    srcThum: '/img/paginas/slider/creston/glacier-trek/glacier-trek-thumb-8.jpg',
  },
  {
    alt: 'Glacier Trek',
    srcFotos: '/img/paginas/slider/creston/glacier-trek/glacier-trek-3.jpg',
    srcThum: '/img/paginas/slider/creston/glacier-trek/glacier-trek-thumb-3.jpg',
  },
  {
    alt: 'Glacier Trek',
    srcFotos: '/img/paginas/slider/creston/glacier-trek/glacier-trek-7.jpg',
    srcThum: '/img/paginas/slider/creston/glacier-trek/glacier-trek-thumb-7.jpg',
  },
  {
    alt: 'Glacier Trek',
    srcFotos: '/img/paginas/slider/creston/glacier-trek/glacier-trek-1.jpg',
    srcThum: '/img/paginas/slider/creston/glacier-trek/glacier-trek-thumb-1.jpg',
  },
  {
    alt: 'Glacier Trek',
    srcFotos: '/img/paginas/slider/creston/glacier-trek/glacier-trek-2.jpg',
    srcThum: '/img/paginas/slider/creston/glacier-trek/glacier-trek-thumb-2.jpg',
  },
]

---

<LayoutPaginas title="Crestón Experience | Glacier Trek" description="">
  <div class="container text-start px-3 px-lg-5">

    <Titulo title=' Crestón Glacier Trek' />

    <div class="container text-center px-lg-5">
      <div class="row">

        <Content
          title=' A Unique Experience in El Chaltén' 
          description='The Crestón Valley is located in the Lago Del Desierto area, about 37 km north of El Chaltén, accessible via RP 41. This valley offers a wide range of options for those seeking new experiences away from the hustle and crowds. With its lenga forests, majestic glaciers, and the imposing presence of Cerro Crestón, it provides us with the opportunity to explore both forested trails and one of the most scenic glaciers in the region. After a gentle walk through the extensive lenga forest, you will reach a wonderful view of the glacier and Cerro Crestón. Leaving the wooded area, you will walk on a large rock formation eroded by the Crestón Glacier. This journey will take you to its current front, where your glacier trekking adventure and ice climbing practice will begin.'
          difficulty=' Medium / High'
          duration=' 1 day'
          pax=' 1 or 12 people'
          time=' December to May'
          hrefitinerary='../itineraries/creston/GlacierTrek.pdf'

          link1=' Crestón Experience'
          href1='/#creston-experience'
          link2=' Glacier Trek'
          href2='/creston-experience/creston-glacier-trek'

        />

        <Slider miArray={fotos} />

      </div>
    </div>
  </div>
</LayoutPaginas>

<style>
  
</style>


