---
import LayoutPaginas from '../../layouts/LayoutPaginas.astro'
import Content from '../../components/paginas/Content.astro'
import Titulo from '../../components/paginas/Titulo.astro'
import Slider from '../../components/paginas/Slider.astro'

const fotos = [
  {
    alt: 'Two Glaciers Viewpoint Trek',
    srcFotos: '/img/paginas/slider/creston/two-glacier/two-glacier-4.jpg',
    srcThum: '/img/paginas/slider/creston/two-glacier/two-glacier-thumb-4.jpg',
  },
  {
    alt: 'Two Glaciers Viewpoint Trek',
    srcFotos: '/img/paginas/slider/creston/two-glacier/two-glacier-3.jpg',
    srcThum: '/img/paginas/slider/creston/two-glacier/two-glacier-thumb-3.jpg',
  },
  {
    alt: 'Two Glaciers Viewpoint Trek',
    srcFotos: '/img/paginas/slider/creston/two-glacier/two-glacier-5.jpg',
    srcThum: '/img/paginas/slider/creston/two-glacier/two-glacier-thumb-5.jpg',
  },
  {
    alt: 'Two Glaciers Viewpoint Trek',
    srcFotos: '/img/paginas/slider/creston/two-glacier/two-glacier-1.jpg',
    srcThum: '/img/paginas/slider/creston/two-glacier/two-glacier-thumb-1.jpg',
  },
  {
    alt: 'Two Glaciers Viewpoint Trek',
    srcFotos: '/img/paginas/slider/creston/two-glacier/two-glacier-2.jpg',
    srcThum: '/img/paginas/slider/creston/two-glacier/two-glacier-thumb-2.jpg',
  },
]

---

<LayoutPaginas title="Crestón Experience | Two Glaciers Viewpoint Trek" description="">
  <div class="container text-start px-3 px-lg-5">

    <Titulo title=' Two Glaciers Viewpoint Trek' />

    <div class="container text-center px-lg-5">
      <div class="row">

        <Content
          title=' An Unconventional Journey' 
          description='This trek is designed for those seeking a unique experience in remote and less crowded areas, north of Los Glaciares National Park. During this journey, you will have the opportunity to marvel at the spectacular views of the two most significant glaciers in the Lago del Desierto Reserve: the Huemul Glacier and the Crestón Glacier. During this hike, we will explore and connect two valleys, two mountains, and two glaciers, all from within the Patagonian Andean forest. About 37 km north of El Chaltén, via RP 41, you will find Lago Del Desierto, a central place in the creation of the town of El Chaltén. From this environment, surrounded by majestic mountains, lush forests, lagoons, and glaciers, we can spot Cerro Vespignani and Cerro Crestón, the sentinels of our journey between the homonymous valleys.'
          difficulty=' Low / Medium'
          duration=' 5 hours'
          pax=' 1 or 12 people'
          time=' All year round, in winter it is done with snowshoes.'
          hrefitinerary='/itineraries/creston/TwoGlaciersViewpointTrek.pdf'

          link1=' Crestón Experience'
          href1='/#creston-experience'
          link2=' Two Glaciers'
          href2='/creston-experience/two-glaciers-viewpoint-trek'

        />

        <Slider miArray={fotos} />

      </div>
    </div>
  </div>
</LayoutPaginas>

<style>
  
</style>


