---
import LayoutPaginas from '../../../layouts/LayoutPaginas.astro'
import Content from '../../../components/paginas/Content.astro'
import Titulo from '../../../components/paginas/Titulo.astro'
import Slider from '../../../components/paginas/Slider.astro'

const fotos = [
  {
    alt: 'Full Day Esquí de Montaña en Bariloche',
    srcFotos: '/img/paginas/slider/skiing/fulldaybariloche/EsquiFullDay8.jpg',
    srcThum: '/img/paginas/slider/skiing/fulldaybariloche/EsquiFullDayThumb8.jpg',
  },
  {
    alt: 'Full Day Esquí de Montaña en Bariloche',
    srcFotos: '/img/paginas/slider/skiing/fulldaybariloche/EsquiFullDay1.jpg',
    srcThum: '/img/paginas/slider/skiing/fulldaybariloche/EsquiFullDayThumb1.jpg',
  },
  {
    alt: 'Full Day Esquí de Montaña en Bariloche',
    srcFotos: '/img/paginas/slider/skiing/fulldaybariloche/EsquiFullDay6.jpg',
    srcThum: '/img/paginas/slider/skiing/fulldaybariloche/EsquiFullDayThumb6.jpg',
  },
  {
    alt: 'Full Day Esquí de Montaña en Bariloche',
    srcFotos: '/img/paginas/slider/skiing/fulldaybariloche/EsquiFullDay4.jpg',
    srcThum: '/img/paginas/slider/skiing/fulldaybariloche/EsquiFullDayThumb4.jpg',
  },
  {
    alt: 'Full Day Esquí de Montaña en Bariloche',
    srcFotos: '/img/paginas/slider/skiing/fulldaybariloche/EsquiFullDay2.jpg',
    srcThum: '/img/paginas/slider/skiing/fulldaybariloche/EsquiFullDayThumb2.jpg',
  },
]

---

<LayoutPaginas title="Esquí en Patagonia | Full Day Esquí de Montaña en Bariloche" description="">
  <div class="container text-start px-3 px-lg-5">

    <Titulo title=' Esquí en Patagonia' />

    <div class="container text-center px-lg-5">
      <div class="row">

        <Content
          title='Full Day Esquí de Montaña en Bariloche' 
          description=' Una opción para disfrutar del esquí de montaña en las montañas cercanas a la ciudad de Bariloche. Este programa nos brinda la posibilidad de tener fantásticas visitar además de buenas bajadas buscando las mejores condiciones de nieve. Algunas de las posibilidades que dependerá del clima y condiciones de la nieve podría ser: Valle del Van Titter, Cerro Challhuaco, Cerro Goye, Cerro López, Siete Colores entre otras.'
          difficulty='  Baja a Alta'
          duration=' 1 día'
          pax=' 1 a 4 personas'
          time=' Julio a Septiembre'
          hrefitinerary='/itinerarios/esqui/EsquiFullDayBariloche.pdf'

          link1=' Esquí'
          href1='/#esqui'
          link2=' Patagonia Norte'
          href2='/esqui/patagonia-norte'

        />

        <Slider miArray={fotos} />

      </div>
    </div>
  </div>
</LayoutPaginas>

<style>
  
</style>


