---
import LayoutPaginas from '../../../layouts/LayoutPaginas.astro'
import Content from '../../../components/paginas/Content.astro'
import Titulo from '../../../components/paginas/Titulo.astro'
import Slider from '../../../components/paginas/Slider.astro'

const fotos = [
  {
    alt: 'Lodge Baguales',
    srcFotos: '/img/paginas/slider/skiing/lodgebaguales/EsquiBaguales8.jpg',
    srcThum: '/img/paginas/slider/skiing/lodgebaguales/EsquiBagualesThumb8.jpg',
  },
  {
    alt: 'Lodge Baguales',
    srcFotos: '/img/paginas/slider/skiing/lodgebaguales/EsquiBaguales2.jpg',
    srcThum: '/img/paginas/slider/skiing/lodgebaguales/EsquiBagualesThumb2.jpg',
  },
  {
    alt: 'Lodge Baguales',
    srcFotos: '/img/paginas/slider/skiing/lodgebaguales/EsquiBaguales7.jpg',
    srcThum: '/img/paginas/slider/skiing/lodgebaguales/EsquiBagualesThumb7.jpg',
  },
  {
    alt: 'Lodge Baguales',
    srcFotos: '/img/paginas/slider/skiing/lodgebaguales/EsquiBaguales5.jpg',
    srcThum: '/img/paginas/slider/skiing/lodgebaguales/EsquiBagualesThumb5.jpg',
  },
  {
    alt: 'Lodge Baguales',
    srcFotos: '/img/paginas/slider/skiing/lodgebaguales/EsquiBaguales9.jpg',
    srcThum: '/img/paginas/slider/skiing/lodgebaguales/EsquiBagualesThumb9.jpg',
  },
]

---

<LayoutPaginas title="Esquí en Patagonia | Lodge Baguales" description="">
  <div class="container text-start px-3 px-lg-5">

    <Titulo title=' Esquí en Patagonia' />

    <div class="container text-center px-lg-5">
      <div class="row">

        <Content
          title='Lodge Baguales Esquí Tour' 
          description='Baguales es un Lodge de montaña ubicado al Sureste de la ciudad de San Carlos de Bariloche. Por su ubicación y altura la nieve tiene muy buenas condiciones para disfrutar del esquí de montaña. En la área se encuentran distintos cerros imponentes como lo es el Cerro Villegas con diferentes opciones de ascenso y descenso; y el Cerro Ciruelas con particulares formaciones rocosas que lo hacen muy atractivo para esquiar. También existen opciones de eski en grandes y amplios bosques de lengas.'
          difficulty=' Baja a Alta'
          duration=' 2 días'
          pax=' 1 a 4 personas'
          time=' Julio a Septiembre'
          hrefitinerary='/itinerarios/esqui/EsquiBaguales.pdf'

          link1=' Esquí'
          href1='/#esqui'
          link2=' North Patagonia'
          href2='/esqui/patagonia-norte'

        />

        <Slider miArray={fotos} />

      </div>
    </div>
  </div>
</LayoutPaginas>

<style>
  
</style>


