---
import LayoutPaginas from '../../../layouts/LayoutPaginas.astro'
import Content from '../../../components/paginas/Content.astro'
import Titulo from '../../../components/paginas/Titulo.astro'
import Slider from '../../../components/paginas/Slider.astro'

const fotos = [
  {
    alt: 'Refugio Lopez',
    srcFotos: '/img/paginas/slider/skiing/refugiolopez/EsquiRefugioLopez3.jpg',
    srcThum: '/img/paginas/slider/skiing/refugiolopez/EsquiRefugioLopezThumb3.jpg',
  },
  {
    alt: 'Refugio Lopez',
    srcFotos: '/img/paginas/slider/skiing/refugiolopez/EsquiRefugioLopez1.jpg',
    srcThum: '/img/paginas/slider/skiing/refugiolopez/EsquiRefugioLopezThumb1.jpg',
  },
  {
    alt: 'Refugio Lopez',
    srcFotos: '/img/paginas/slider/skiing/refugiolopez/EsquiRefugioLopez6.jpg',
    srcThum: '/img/paginas/slider/skiing/refugiolopez/EsquiRefugioLopezThumb6.jpg',
  },
  {
    alt: 'Refugio Lopez',
    srcFotos: '/img/paginas/slider/skiing/refugiolopez/EsquiRefugioLopez4.jpg',
    srcThum: '/img/paginas/slider/skiing/refugiolopez/EsquiRefugioLopezThumb4.jpg',
  },
  {
    alt: 'Refugio Lopez',
    srcFotos: '/img/paginas/slider/skiing/refugiolopez/EsquiRefugioLopez5.jpg',
    srcThum: '/img/paginas/slider/skiing/refugiolopez/EsquiRefugioLopezThumb5.jpg',
  },
]

---

<LayoutPaginas title="Esquí en Patagonia | Refugio Lopez" description="">
  <div class="container text-start px-3 px-lg-5">

    <Titulo title=' Esquí en Patagonia' />

    <div class="container text-center px-lg-5">
      <div class="row">

        <Content
          title='Refugio Lopez Esquí Tour' 
          description='Uno de los más antiguos e histórico refugio de Bariloche, donde para algunos es el lugar emblemático del montañismo en Patagonia norte. Podemos disfrutar de esta imponente montaña como así también las vista hacia el lago Nahuel Huapi. Posee diversa opciones de esquí, valles secundarios que se acceden desde el refugio, además de amplios bosques que nos permiten hacer buenas esquiadas. Sumado a gran variedad de orientaciones e inclinaciones lo hacen un lugar excelente para disfrutar del esquí de montaña cuando el clima no nos colabora.'
          difficulty=' Baja a Alta'
          duration=' 2 días'
          pax=' 1 a 4 personas'
          time=' Julio a Septiembre'
          hrefitinerary='/itinerarios/esqui/EsquiRefugioLopez.pdf'

          link1=' Esquí'
          href1='/#esqui'
          link2=' Patagonia Norte'
          href2='/esqui/patagonia-norte'

        />

        <Slider miArray={fotos} />

      </div>
    </div>
  </div>
</LayoutPaginas>

<style>
  
</style>


