---
import LayoutPaginas from "../layouts/LayoutPaginas.astro";

---
<LayoutPaginas title="404 error" description="">
    
  <div class="container text-start px-3 px-lg-5">
    <h2 class="border-top mt-4 pt-3 pb-3 display-6 titulo fw-light text-body-secondary">
      <i class="fa-sharp fa-solid fa-chevron-right" style="color: #58585a;"></i>
      404 Error
    </h2>
    <h4 class="fw-light text-body-secondary">Apologies, but the page you're looking for can't be found.</h4>
    <a href="/" class="fs-5 fw-normal link-secondary fst-normal text-body-secondary icon-link icon-link-hover link-offset-2-hover link-underline link-underline-opacity-0 link-underline-opacity-100-hover" role="button" aria-label="Download Itinerary">BACK HOME</a>
    <style>
      .titulo {
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; 
        letter-spacing: 1px;
      }
    </style>
  </div>
</LayoutPaginas>