---

---

<section id="aboutus" class="about-us">
  <div class="container">
    
      <div id="about-shade-section" class="container-lg shape-shade-section">
        <h3 class="fs-1">About Us</h3>
        <div class="row">

          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="card">
              <div class="p-1 text-center">
                <img src="./img/index/aboutus/JuanRaselliThumb.jpg" class="rounded-circle img-fluid border border-3" alt="Juan Raselli">
                <div class="card">
                  <h4 class="fs-2">Juan Raselli</h4>
                  <h5 class="fs-6">IFMGA MOUNTAIN GUIDE</h5>
                  <a class="fs-6" href="aboutus/juan-raselli">MORE INFO HERE</a> 
                </div>
              </div>
            </div>
          </div>
          
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="card">
              <div class="p-1 text-center">
                <img src="./img/index/aboutus/RobertoTreuThumb.jpg" class="rounded-circle img-fluid border border-3" alt="Roberto Treu">
                <div class="card">
                  <h4 class="fs-2">Roberto Treu</h4>
                  <h5 class="fs-6">IFMGA MOUNTAIN GUIDE</h5>
                  <a class="fs-6" href="aboutus/roberto-treu">MORE INFO HERE</a> 
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="card">
              <div class="p-1 text-center">
                <img src="./img/index/aboutus/TomasAguiloThumb.jpg" class="rounded-circle img-fluid border border-3" alt="Tomas Aguilo">
                <div class="card">
                  <h4 class="fs-2">Tomás Aguiló</h4>
                  <h5 class="fs-6">IFMGA MOUNTAIN GUIDE</h5>
                  <a class="fs-6" href="aboutus/tomas-aguilo">MORE INFO HERE</a>
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="row">
          <div class="d-none d-sm-none d-md-block texthome"> 
            <p class="fs-4 mt-5 text-center">We are three friends Mountain Guides IFMGA / UIAGM. We live in El Chalten most of the year where we practice our profession and develop our passion for Climbing and Skiing. Over the years we have gained a lot of experience in this region, which we would like to pass on by opening the doors to all those who want to live the Patagonian Experience, in a safe and unforgettable way.</p>
          </div>
        </div>
      </div>

  </div>
</section>

<style>

.about-us{
	height: 100vh;
  min-height: 450px;
	background-image: url("../img/index/secciones/aboutus.jpg");
 	background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;/* Resize the background image to cover the entire container */
  padding-top: 1px;
}
.shape-shade-section {
	position: relative;
  background-color: rgba(0,0,0,0.5);
  padding: 40px 50px 40px 50px;
  width: fit-content;
  width: -moz-fit-content; 
  margin-top: 102px; 
}
/* #about-shade-section{
	position: relative;
    background-color: rgba(0,0,0,0.5);
    padding: 40px 50px 40px 50px;
    width: fit-content;
    width: -moz-fit-content; 
    margin-top: 97px; 
	text-align: left;
	clip-path: polygon(0px 0px, 970px 0px, 970px 494px, 921px 487px, 859px 443px, 642px 495px, 477px 461px, 213px 490px, 110px 444px, 22px 494px, 0px 494px);
} */

.card {
	background-color: transparent;
	border-radius: 0px;
	border: none;
	color: #FFFFFF;
	margin-top: 20px;
}
.card h4 {
	font-family: MuseoSlab;
	color: #ffffff;
	margin-bottom: 0px;
}
.card a{
	color: #FFFFFF;
	font-size: 14px;
	font-family: MuseoSans300;
}
.texthome {
	color: #FFFFFF;
	font-family: MuseoSans100;
}
.rounded-circle {
	width: 180px;
}


/*// Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
  .about-us{
    min-height: 900px;
  }
	.shape-shade-section {
		position: relative;
	  height: fit-content;
		width: -moz-fit-content;
		width: fit-content;
	  background-color: rgba(0,0,0,0.5);
	  padding: 20px 40px 20px 15px;
	  text-align: left;
		margin-bottom: 50px;
		clip-path: unset;
	}
	#about-shade-section{
		position: relative;
	  margin-top: 102px; 
	  height: fit-content;
		width: -moz-fit-content;
		width: fit-content;
	  background-color: rgba(0,0,0,0.5);
	  padding: 20px 20px 20px 15px;
	  text-align: left;
		margin-bottom: 50px;
		clip-path: unset;
	}
  .rounded-circle {
	  width: 100px;
  }
}


</style>