---

---

<section id="climbing" class="climbing">
  <div class="container">
    <div class="p-1">
      <div id="climbing-shade-section">
        <h1 class="fs-1 lh-1">Climbing in<br>Patagonia</h1>
        <ul class="menu-section ps-0 fs-4">
          <li class="list-group-item"><a href="/climbing/sport-climbing" title="Sport Climbing">Sport Climbing</a></li>
          <li class="list-group-item"><a href="/climbing/aguja-guillaumet" title="Aguja Guillaumet">Aguja Guillaumet</a></li>
          <li class="list-group-item"><a href="/climbing/cerro-mocho" title="Cerro Mocho">Cerro Mocho</a></li>
          <li class="list-group-item"><a href="/climbing/aguja-s" title="Aguja De la S">Aguja De la S</a></li>
          <li class="list-group-item"><a href="/climbing/aguja-poincenot" title="Aguja Poincenot">Aguja Poincenot</a></li>
          <li class="list-group-item"><a href="/climbing/cerro-fitz-roy" title="Cerro Fitz Roy">Cerro Fitz Roy</a></li>
          <li class="list-group-item"><a href="/climbing/cerro-torre" title="Cerro Torre">Cerro Torre</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>

<style>

.climbing {
	height: 100vh;
  min-height: 350px;
	background-image: url("../img/index/secciones/climbing.jpg");
 	background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
 	background-size: cover; /* Resize the background image to cover the entire container */
}

#climbing-shade-section {
	position: relative;
  background-color: rgba(0,0,0,0.5);
  padding: 40px 50px 40px 50px;
  width: fit-content;
  width: -moz-fit-content; 
  margin-top: 99px; 
	text-align: left;
	clip-path: polygon(0px 0px, 327px 0px, 330px 90px, 283px 244px, 333px 445px, -2px 447px);
}

.menu-section a {
	font-family: MuseoSans300, sans-serif;
  /* font-size: 26px; */
  color: rgba(255,255,255,.9);
  text-decoration: none;
}
.menu-section a:hover {
	/*background-color: rgb(0,0,0,.6);*/
	font-weight: bold;
	color: rgba(255,255,255);
  text-decoration: underline;
}

/*// Extra small devices (portrait phones, less than 576px)*/

@media (max-width: 575.98px) {
  .shape-shade-section {
		position: relative;
	  margin-top: 83px; 
	  height: fit-content;
		width: -moz-fit-content;
		width: fit-content;
	  background-color: rgba(0,0,0,0.5);
	  padding: 20px 40px 20px 15px;
	  text-align: left;
		margin-bottom: 50px;
		clip-path: unset;
	}
  #climb-shade-section {
		position: relative;
		margin-top: 83px; 
	  height: fit-content;
		width: -moz-fit-content;
		width: fit-content;
	  background-color: rgba(0,0,0,0.5);
	  padding: 20px 40px 20px 15px;
	  text-align: left;
		margin-bottom: 50px;
		clip-path: unset;
	}
}
</style>