---

---

<section id="creston-experience" class="creston">
  <div class="container">
    <div class="p-1">
      <div id="creston-shade-section">
        <h1 class="fs-1 lh-1">Creston <br>Experience</h1>
        <ul class="menu-section ps-0 fs-4">
					<li class="list-group-item"><a href="/creston-experience/valle-creston-refuge" title="Valle del Crestón Refuge">Valle del Crestón Refuge</a></li>
					<li class="list-group-item"><a href="/creston-experience/two-glaciers-viewpoint-trek" title="Two Glaciers Viewpoint Trek">Two Glaciers Viewpoint Trek</a></li>
					<li class="list-group-item"><a href="/creston-experience/creston-glacier-trek" title="Crestón Glacier Trek">Crestón Glacier Trek</a></li>
					<li class="list-group-item"><a href="/creston-experience/creston-glacier-crossing" title="Crestón Glacier Crossing">Crestón Glacier Crossing</a></li>
					<li class="list-group-item"><a href="/creston-experience/creston-mountain-ascent" title="Crestón Glacier Crossing">Crestón Mountain Ascent</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>

<style>

.creston {
	height: 100vh;
  min-height: 350px;
	background-image: url("../img/index/secciones/creston.jpg");
 	background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
 	background-size: cover; /* Resize the background image to cover the entire container */
}

#creston-shade-section {
	position: relative;
  background-color: rgba(0,0,0,0.5);
  padding: 40px 50px 40px 50px;
  width: fit-content;
  width: -moz-fit-content; 
  margin-top: 99px; 
	text-align: left;
	/* clip-path: polygon(0px 0px, 327px 0px, 330px 90px, 283px 244px, 333px 445px, -2px 447px); */
  clip-path: polygon(0px 0px, 409px 0px, 409px 29px, 376px 105px, 408px 174px, 414px 254px, 410px 372px, 409px 431px, 0px 431px);
}

.menu-section a {
	font-family: MuseoSans300, sans-serif;
  /* font-size: 26px; */
  color: rgba(255,255,255,.9);
  text-decoration: none;
}
.menu-section a:hover {
	/*background-color: rgb(0,0,0,.6);*/
	font-weight: bold;
	color: rgba(255,255,255);
  text-decoration: underline;
}

/*// Extra small devices (portrait phones, less than 576px)*/

@media (max-width: 575.98px) {
  .shape-shade-section {
		position: relative;
	  margin-top: 93px; 
	  height: fit-content;
		width: -moz-fit-content;
		width: fit-content;
	  background-color: rgba(0,0,0,0.5);
	  padding: 20px 40px 20px 15px;
	  text-align: left;
		margin-bottom: 50px;
		clip-path: unset;
	}
  #creston-shade-section {
		position: relative;
	  background-color: rgba(0,0,0,0.5);
	  padding: 20px 10px 20px 10px;
	  text-align: left;
		/* margin-bottom: 50px; */
		/* clip-path: unset; */
	}
}
</style>