---

---

<section id="cursos" class="courses">
  <div class="container">
    <div class="p-1">
      <div id="course-shade-section">
        <h3 class="display-5 lh-1">Cursos en<br> Patagonia</h3>
        <ul class="menu-section list-grup ps-0 fs-4">
          <li class="list-group-item"><a href="cursos/curso-escalada-roca" title="Escalada en Roca"><i class="fa-solid fa-chevron-right"></i>Escalada en Roca</a></li>
          <li class="list-group-item"><a href="cursos/curso-escalada-hielo" title="Escalada en Hielo"><i class="fa-solid fa-chevron-right"></i>Escalada en Hielo</a></li>
					<li class="list-group-item"><a href="cursos/curso-esqui-montana" title="Esquí de montaña"><i class="fa-solid fa-chevron-right"></i>Esquí de montaña</a></li>
        </ul>  
        <p class="fs-6 mt-3 text-links">
          También estamos comprometidos con la formación en lo relacionado a la montaña. Te damos las herramientas básicas para moverte en montaña con seguridad y fluidez. Cursos y clínicas de todos los niveles según el terreno que quieras formarte.
        </p> 
      </div>
    </div>
  </div>
</section>

<style>

.courses {
	height: 100%;
  scroll-snap-align: start;
  min-height: 650px;
	background-image: url("../img/index/secciones/courses.jpg");
 	background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
 	background-size: cover; /* Resize the background image to cover the entire container */
}

#course-shade-section {
	position: relative;
  background-color: rgba(0,0,0,0.5);
  padding: 40px 40px 40px 40px;
  width: fit-content;
  margin-top: 99px; 
	text-align: left;
	/* clip-path: polygon(0px 0px, 350px 0px, 321px 178px, 350px 495px, 351px 551px, 0px 549px); */
  /* clip-path: polygon(0px 0px, 322px 0px, 322px 107px, 283px 224px, 322px 318px, 322px 465px, 324px 546px, 0px 543px); */
  clip-path: polygon(0px 0px, 322px 0px, 322px 107px, 283px 224px, 322px 318px, 322px 465px, 314px 583px, 313px 580px, -2px 579px);
}

.menu-section a {
	font-family: MuseoSans300, sans-serif;
  /* font-size: 26px; */
  color: rgba(255,255,255,.9);
  text-decoration: none;
}
.menu-section a:hover {
	/*background-color: rgb(0,0,0,.6);*/
	color: rgba(255,255,255);
  text-decoration: underline;
  text-underline-offset: 4px;
}
.text-links {
	color: #FFFFFF;
	font-family: MuseoSans100;
  width: 220px;
}

/*// Extra small devices (portrait phones, less than 576px)*/

@media (max-width: 575.98px) {

  #course-shade-section {
		padding: 30px 20px 10px 20px;
	}
}
</style>