---

---

<section id="esqui" class="skiing">
  <div class="container">
    <div class="p-1">
      <div id="skiing-shade-section">
        <h1 class="display-5 lh-1">Esquí en<br> Patagonia</h1>
        <ul class="menu-section list-grup ps-0 fs-4">
          <li class="list-group-item"><a href="esqui/patagonia-norte" title="Patagonia Norte"><i class="fa-solid fa-chevron-right"></i>Patagonia Norte</a></li>
					<li class="list-group-item"><a href="esqui/patagonia-sur" title="Patagonia Sur"><i class="fa-solid fa-chevron-right"></i>Patagonia Sur</a></li>
					<li class="list-group-item"><a href="esqui/volcanes-patagonia" title="Volcanes es Patagonia"><i class="fa-solid fa-chevron-right"></i>Volcanes en Patagonia</a></li>
					<li class="list-group-item"><a href="esqui/esqui-tour-patagonia" title="Gran Tour en Patagonia"><i class="fa-solid fa-chevron-right"></i>Gran Tour en Patagonia</a></li>
					<li class="list-group-item"><a href="esqui/clinica-esqui-montana" title="Clínica Esquí de Montaña"><i class="fa-solid fa-chevron-right"></i>Clínica Esquí de Montaña</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>

<style>

  .skiing {
    height: 100%;
    scroll-snap-align: start;
    min-height: 650px;
    background-image: url("../img/index/secciones/ski.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
  }

  #skiing-shade-section {
    position: relative;
    background-color: rgba(0,0,0,0.5);
    padding: 40px 40px 40px 40px;
    width: fit-content;
    margin-top: 99px; 
    text-align: left;
    /* clip-path: polygon(0px 0px, 318px 0px, 378px 228px, 377px 339px, 0px 340px); */
    clip-path: polygon(0px 0px, 318px 0px, 378px 228px, 375px 390px, 2px 389px);
  }

  .menu-section a {
    font-family: MuseoSans300, sans-serif;
    /* font-size: 26px; */
    color: rgba(255,255,255,.9);
    text-decoration: none;
  }
  .menu-section a:hover {
    /*background-color: rgb(0,0,0,.6);*/
    color: rgba(255,255,255);
    text-decoration: underline;
    text-underline-offset: 4px;
  }

  /*// Extra small devices (portrait phones, less than 576px)*/

  @media (max-width: 575.98px) {
    
    #skiing-shade-section {
      padding: 30px 20px 30px 20px;
    }
  }
</style>