---

---

<section id="experiencia-creston" class="creston">
  <div class="container">
    <div class="p-1">
      <div id="creston-shade-section">
        <h1 class="display-5 lh-1">Experiencia<br>Creston</h1>
        <ul class="menu-section ps-0 fs-4">
					<li class="list-group-item"><a href="/experiencia-creston/refugio-valle-creston" title="Refugio Valle Del Creston"><i class="fa-solid fa-chevron-right"></i>Refugio Valle Del Creston</a></li>
					<li class="list-group-item"><a href="/experiencia-creston/trekking-dos-glaciares" title="Trekking Mirador de los Dos Glaciares"><i class="fa-solid fa-chevron-right"></i>Trekking Mirador Dos Glaciares</a></li>
					<li class="list-group-item"><a href="/experiencia-creston/trekking-glaciar-creston" title="Trekking Glaciar Creston"><i class="fa-solid fa-chevron-right"></i>Trekking Glaciar Creston</a></li>
					<li class="list-group-item"><a href="/experiencia-creston/cruce-glaciar-creston" title="Cruce del Glaciar Creston"><i class="fa-solid fa-chevron-right"></i>Cruce del Glaciar Creston</a></li>
					<li class="list-group-item"><a href="/experiencia-creston/ascenso-cerro-creston" title="Ascenso al Cerro Crestón"><i class="fa-solid fa-chevron-right"></i>Ascenso al Cerro Crestón</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>

<style>

.creston {
	height: 100%;
  scroll-snap-align: start;
  min-height: 650px;
	background-image: url("../img/index/secciones/creston.jpg");
 	background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
 	background-size: cover; /* Resize the background image to cover the entire container */
}

#creston-shade-section {
	position: relative;
  background-color: rgba(0,0,0,0.5);
  padding: 40px 40px 40px 40px;
  width: fit-content;
  margin-top: 99px; 
	text-align: left;
	/* clip-path: polygon(0px 0px, 406px 0px, 370px 74px, 404px 199px, 383px 272px, 417px 386px, 0px 385px); */
	/* clip-path: polygon(0px 0px, 406px 0px, 370px 74px, 423px 211px, 383px 272px, 417px 386px, 0px 385px); */
  /* clip-path: polygon(0px 0px, 406px 0px, 370px 74px, 404px 199px, 383px 272px, 439px 461px, -3px 458px); */
  clip-path: polygon(0px 0px, 406px 0px, 370px 74px, 420px 209px, 383px 272px, 439px 461px, -3px 458px);
}

.menu-section a {
	font-family: MuseoSans300, sans-serif;
  /* font-size: 26px; */
  color: rgba(255,255,255,.9);
  text-decoration: none;
}
.menu-section a:hover {
	/*background-color: rgb(0,0,0,.6);*/
	color: rgba(255,255,255);
  text-decoration: underline;
	text-underline-offset: 4px;
}

/*// Extra small devices (portrait phones, less than 576px)*/

@media (max-width: 575.98px) {

  #creston-shade-section {
	  padding: 30px 20px 30px 20px;
	}
}
</style>