---

---

<section id="montana" class="mountaineering">
  <div class="container">
    <div class="p-1">
      <div id="mountaineering-shade-section">
        <h1 class="fs-1 lh-1">Montaña en<br>Patagonia</h3>
        <ul class="menu-section list-grup ps-0 fs-4">
          <li class="list-group-item"><a href="/montana/campo-hielo" aria-label="Expedición Campo de Hielo" title="Expedición Campo de Hielo">Expedición Campo de Hielo</a></li>
          <li class="list-group-item"><a href="/montana/cerro-solo" aria-label="Cerro Solo" title="Cerro Solo">Cerro Solo</a></li>
          <li class="list-group-item diseable"><a href="/montana/cerro-electrico" aria-label="Cerro Electrico" title="Cerro Electrico">Cerro Electrico</a></li>
          <li class="list-group-item"><a href="/montana/cerro-gorra-blanca" aria-label="Cerro Gorra Blanca" title="Cerro Gorra Blanca">Cerro Gorra Blanca</a></li>
          <li class="list-group-item"><a href="/montana/cerro-madsen" aria-label="Cerro Madsen" title="Cerro Madsen">Cerro Madsen</a></li>
          <li class="list-group-item"><a href="/montana/cerro-mojon-rojo" aria-label="Cerro Mojon Rojo" title="Cerro Mojon Rojo">Cerro Mojon Rojo</a></li>
          <li class="list-group-item"><a href="/montana/cerro-vespignani" aria-label="Cerro Vespignani" title="Cerro Vespignani">Cerro Vespignani</a></li>
          <li class="list-group-item"><a href="/montana/travesia-tres-valles" aria-label="Travesía Tres Valles" title="Travesía Tres Valles">Travesía Tres Valles</a></li>
          <li class="list-group-item"><a href="/montana/travesia-paso-superior" aria-label="Travesía Paso Superior" title="Travesía Paso Superior">Travesía Paso Superior</a></li>
          <li class="list-group-item"><a href="/montana/circuito-fitz-torre" title="Circuito Fitz Roy - Cerro Torre" aria-label="Circuito Fitz Roy - Cerro Torre">Circuito Fitz Roy y Cerro Torre </a></li>
        </ul>
      </div>
    </div>
  </div>
</section>

<style>

  .mountaineering {
    height: 100vh;
    min-height: 350px;
    background-image: url("../img/index/secciones/mountaineering.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
  }

  #mountaineering-shade-section {
    position: relative;
    background-color: rgba(0,0,0,0.5);
    padding: 40px 50px 40px 50px;
    width: fit-content;
    width: -moz-fit-content; 
    margin-top: 99px; 
    text-align: left;
    /* clip-path: polygon(0px 0px, 407px 0px, 408px 74px, 376px 198px, 407px 535px, 407px 574px, 0px 574px); */
    clip-path: polygon(0px 0px, 407px 0px, 408px 74px, 376px 198px, 410px 509px, 408px 553px, 0px 555px);
  }

  .menu-section a {
    font-family: MuseoSans300, sans-serif;
    /* font-size: 26px; */
    color: rgba(255,255,255,.9);
    text-decoration: none;
  }
  .menu-section a:hover {
    /*background-color: rgb(0,0,0,.6);*/
    font-weight: bold;
    color: rgba(255,255,255);
    text-decoration: underline;
  }

  /*// Extra small devices (portrait phones, less than 576px)*/
  @media (max-width: 575.98px) {
    .mountaineering {
      min-height: 600px;
    }
    .shape-shade-section {
      position: relative;
      margin-top: 83px; 
      height: fit-content;
      width: -moz-fit-content;
      width: fit-content;
      background-color: rgba(0,0,0,0.5);
      padding: 20px 40px 20px 15px;
      text-align: left;
      margin-bottom: 50px;
      clip-path: unset;
    }
    #mountaineering-shade-section {
      position: relative;
      margin-top: 99px; 
      height: fit-content;
      width: -moz-fit-content;
      width: fit-content;
      background-color: rgba(0,0,0,0.5);
      padding: 20px 40px 20px 15px;
      text-align: left;
      margin-bottom: 50px;
      clip-path: unset;
	  }
}
</style>