---

---

<section id="montana" class="mountaineering">
  <div class="container">
    <div class="p-1">
      <div id="mountaineering-shade-section">
        <h1 class="display-5 lh-1">Montaña en<br>Patagonia</h3>
        <ul class="menu-section list-grup ps-0 fs-4">
          <li class="list-group-item"><a href="/montana/campo-hielo" aria-label="Expedición Campo de Hielo" title="Expedición Campo de Hielo"><i class="fa-solid fa-chevron-right"></i>Expedición Campo de Hielo</a></li>
          <li class="list-group-item"><a href="/montana/cerro-solo" aria-label="Cerro Solo" title="Cerro Solo"><i class="fa-solid fa-chevron-right"></i>Cerro Solo</a></li>
          <li class="list-group-item diseable"><a href="/montana/cerro-electrico" aria-label="Cerro Electrico" title="Cerro Electrico"><i class="fa-solid fa-chevron-right"></i>Cerro Electrico</a></li>
          <li class="list-group-item"><a href="/montana/cerro-gorra-blanca" aria-label="Cerro Gorra Blanca" title="Cerro Gorra Blanca"><i class="fa-solid fa-chevron-right"></i>Cerro Gorra Blanca</a></li>
          <li class="list-group-item"><a href="/montana/cerro-madsen" aria-label="Cerro Madsen" title="Cerro Madsen"><i class="fa-solid fa-chevron-right"></i>Cerro Madsen</a></li>
          <li class="list-group-item"><a href="/montana/cerro-mojon-rojo" aria-label="Cerro Mojon Rojo" title="Cerro Mojon Rojo"><i class="fa-solid fa-chevron-right"></i>Cerro Mojon Rojo</a></li>
          <li class="list-group-item"><a href="/montana/cerro-vespignani" aria-label="Cerro Vespignani" title="Cerro Vespignani"><i class="fa-solid fa-chevron-right"></i>Cerro Vespignani</a></li>
          <li class="list-group-item"><a href="/montana/travesia-tres-valles" aria-label="Travesía Tres Valles" title="Travesía Tres Valles"><i class="fa-solid fa-chevron-right"></i>Travesía Tres Valles</a></li>
          <li class="list-group-item"><a href="/montana/travesia-paso-superior" aria-label="Travesía Paso Superior" title="Travesía Paso Superior"><i class="fa-solid fa-chevron-right"></i>Travesía Paso Superior</a></li>
          <li class="list-group-item"><a href="/montana/circuito-fitz-torre" title="Circuito Fitz Roy - Cerro Torre" aria-label="Circuito Fitz Roy - Cerro Torre"><i class="fa-solid fa-chevron-right"></i>Circuito Fitz Roy y Cerro Torre </a></li>
        </ul>
      </div>
    </div>
  </div>
</section>

<style>

  .mountaineering {
		height: 100%;
    scroll-snap-align: start;
    min-height: 650px;
    background-image: url("../img/index/secciones/mountaineering.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
  }

  #mountaineering-shade-section {
    position: relative;
    background-color: rgba(0,0,0,0.5);
    padding: 40px 40px 40px 40px;
    width: fit-content;
    margin-top: 99px; 
    text-align: left;
    /* clip-path: polygon(0px 0px, 407px 0px, 408px 74px, 376px 198px, 407px 535px, 407px 574px, 0px 574px); */
    clip-path: polygon(0px 0px, 407px 0px, 408px 74px, 376px 198px, 410px 509px, 408px 553px, 0px 555px);
  }

  .menu-section a {
    font-family: MuseoSans300, sans-serif;
    /* font-size: 26px; */
    color: rgba(255,255,255,.9);
    text-decoration: none;
  }
  .menu-section a:hover {
    /*background-color: rgb(0,0,0,.6);*/
    color: rgba(255,255,255);
    text-decoration: underline;
    text-underline-offset: 4px;
  }

  /*// Extra small devices (portrait phones, less than 576px)*/
  @media (max-width: 575.98px) {
    
    #mountaineering-shade-section {
      padding: 30px 20px 30px 20px;
	  }
}
</style>