---

---

<section id="nosotros" class="about-us">
  <div class="container">
    <div class="p-1">
      <div id="about-shade-section">
        <h1 class="display-5 lh-1">Sobre Nosotros</h1>
        <div class="row">

          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="card">
              <div class="p-1 text-center">
                <img src="./img/index/aboutus/JuanRaselliThumb.jpg" class="rounded-circle img-fluid border border-3" alt="Juan Raselli">
                <div class="card">
                  <h4 class="fs-2">Juan Raselli</h4>
                  <h5 class="fs-6 d-none d-sm-none d-md-block">Guía de montaña UIAGM</h5>
                  <a class="fs-6 link-offset-2" href="nosotros/juan-raselli">MÁS INFO AQUÍ</a> 
                </div>
              </div>
            </div>
          </div>
          
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="card">
              <div class="p-1 text-center">
                <img src="./img/index/aboutus/RobertoTreuThumb.jpg" class="rounded-circle img-fluid border border-3" alt="Roberto Treu">
                <div class="card">
                  <h4 class="fs-2">Roberto Treu</h4>
                  <h5 class="fs-6 d-none d-sm-none d-md-block">Guía de montaña UIAGM</h5>
                  <a class="fs-6 link-offset-2" href="nosotros/roberto-treu">MÁS INFO AQUÍ</a> 
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="card">
              <div class="p-1 text-center">
                <img src="./img/index/aboutus/TomasAguiloThumb.jpg" class="rounded-circle img-fluid border border-3" alt="Tomas Aguilo">
                <div class="card">
                  <h4 class="fs-2">Tomás Aguiló</h4>
                  <h5 class="fs-6 d-none d-sm-none d-md-block">Guía de montaña UIAGM</h5>
                  <a class="fs-6 link-offset-2" href="nosotros/tomas-aguilo">MÁS INFO AQUÍ</a>
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="row">
          <div class="d-none d-sm-none d-md-block texthome"> 
            <p class="fs-4 mt-5 text-center">
              Somos tres amigos guías de alta montaña, con certificación internacional U.I.A.G.M., que vivimos en chalten gran parte del año donde ejercemos nuestra profesión y también donde desarrollamos nuestra pasión por la escalada y el esquí. A lo largo de los años hemos ganado mucha experiencia en esta región, la cual queremos trasmitir abriendo las puertas a todos aquellos que quieran vivir su experiencia patagonica de forma segura e inolvidable.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<style>

  .about-us {
    height: 100%;
    scroll-snap-align: start;
    min-height: 900px;
    background-image: url("../img/index/secciones/aboutus.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;/* Resize the background image to cover the entire container */
  }
  #about-shade-section {
    position: relative;
    background-color: rgba(0,0,0,0.5);
    padding: 40px 40px 40px 40px;
    width: fit-content;
    margin-top: 99px;
  }
  .card {
    background-color: transparent;
    border-radius: 0px;
    border: none;
    color: #FFFFFF;
    margin-top: 20px;
  }
  .card h4 {
    font-family: MuseoSlab;
    color: #ffffff;
    margin-bottom: 0px;
  }
  .card a{
    color: #FFFFFF;
    font-size: 14px;
    font-family: MuseoSans300;
  }
  .texthome {
    color: #FFFFFF;
    font-family: MuseoSans100;
  }
  .rounded-circle {
    width: 180px;
  }


/*// Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
  
	#about-shade-section{
	  padding: 30px 20px 30px 20px;
    margin-top: 99px;
	}
  .rounded-circle {
	  width: 100px;
  }
}
@media (max-width: 768px) { 
  .rounded-circle {
	  width: 100px;
  }
}

</style>