---

---

<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Welcome to Patagonia Ascent"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
  </div>
  <div class="carousel-inner">
    <!-- Slide 1 -->
    <div class="carousel-item active" data-bs-interval="3000" style="background-image: url('img/index/slider/slide1.jpeg')">
      <div class="container">
        <div class="carousel-caption">
          <div id="shape-shade-slider">
            <h3 class="fs-1 lh-1">Welcome to<br>Patagonia Ascent<br>2023&#x2013;2024</h3>
            <h2 class="fs-3 lh-1 mb-5 mb-md-4">We make your<br> dreams come true</h2>
            <a class="fs-6 link-slide" href="#mountaineering">SEE MOUNTAINEERING ITINERARIES</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Slide 2 -->
    <div class="carousel-item" data-bs-interval="3000" style="background-image: url('img/index/slider/slide2.jpeg')">
      <div class="container">
        <div class="carousel-caption">
          <div id="shape-shade-slider">
            <h3 class="fs-1 lh-1">El Chalten<br>Patagonia</h3>
            <h2 class="fs-3 lh-1 mb-5 mb-md-4">Climbing in one of the <br>best places in the World</h2>
            <a class="fs-6 link-slide" href="#climbing">SEE CLIMBING ITINERARIES</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Slide 3 -->
    <div class="carousel-item" data-bs-interval="3000" style="background-image: url('img/index/slider/slide3.jpeg')">
      <div class="container">
        <div class="carousel-caption">
          <div id="shape-shade-slider">
            <h3 class="fs-1 lh-1">Ski season<br>2023-2024</h3>
            <h2 class="fs-3 lh-1 mb-5 mb-md-4">Skiing in the heart<br>of Patagonia</h2>
            <a class="fs-6 link-slide" href="#skiing">SEE SKI ITINERARIES</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Slide 4 -->
    <div class="carousel-item" data-bs-interval="3000" style="background-image: url('img/index/slider/slide4.jpeg')">
      <div class="container">
        <div class="carousel-caption">
          <div id="shape-shade-slider">
            <h3 class="fs-1 lh-1">Enjoy Rock<br>Climbing</h3>
            <h2 class="fs-3 lh-1 mb-5 mb-md-4">Sport Climbing and<br>Multi Pitch El Chalten</h2>
            <a class="fs-6 link-slide" href="climbing/sport-climbing">SEE SPORT CLIMBING</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev d-none d-lg-block" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon d-none d-lg-block" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<style>

.carousel-caption {
  position: static;
  padding-top: 103px;
}
.carousel-item {
  height: 100vh;
  min-height: 550px;
  background: no-repeat center center scroll;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
.link-slide {
	color: #ffffff;
  text-decoration: none;
}
.link-slide :hover{
  text-decoration: underline;
}
#shape-shade-slider {
	width: 580px;
  background-color: rgba(0,0,0,0.5);
  padding: 40px 50px 80px 50px;
	text-align: left;
	clip-path: polygon(0px 0px, 468px 0px, 456px 69px, 485px 149px, 394px 222px, 365px 318px, 0px 320px);
}

/* ////////Small devices///////// */

@media (max-width: 575.98px) {

  .fs-1 {
    font-size: 40px!important;
  }               
  #shape-shade-slider{
		width: 100%;
		width: -moz-fit-content;
		padding: 30px 30px 60px 15px;
		clip-path: unset;
	}
}
  
</style>