---

---

<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Bienvenidos a Patagonia Ascent"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
  </div>
  <div class="carousel-inner">
    <!-- Slide 1 -->
    <div class="carousel-item active" data-bs-interval="3000" style="background-image: url('img/index/slider/slide1.jpeg')">
      <div class="container">
        <div class="carousel-caption">
          <div id="shape-shade-slider">
            <h3 class="display-4 lh-1"> Patagonia<br>2024&#x2013;2025</h3>
            <h2 class="fs-3 lh-1 mb-5 mb-md-4">Hacemos tus <br>sueños realidad</h2>
            <a class="fs-6 link-offset-2 link-slide" href="#montana">VEER INTINERARIOS</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Slide 2 -->
    <div class="carousel-item" data-bs-interval="3000" style="background-image: url('img/index/slider/slide2.jpeg')">
      <div class="container">
        <div class="carousel-caption">
          <div id="shape-shade-slider">
            <h3 class="display-4 lh-1">El Chalten<br>Patagonia</h3>
            <h2 class="fs-3 lh-1 mb-5 mb-md-4">Escalada en el mejor<br> lugar del mundo</h2>
            <a class="fs-6 link-offset-2 link-slide" href="#escalada">VEER INTINERARIOS</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Slide 3 -->
    <div class="carousel-item" data-bs-interval="3000" style="background-image: url('img/index/slider/slide3.jpeg')">
      <div class="container">
        <div class="carousel-caption">
          <div id="shape-shade-slider">
            <h3 class="display-4 lh-1">Temporada<br>Esquí 2024</h3>
            <h2 class="fs-3 lh-1 mb-5 mb-md-4">Esquí en el corazón<br>de la patagonia</h2>
            <a class="fs-6 link-offset-2 link-slide" href="#esqui">VEER INTINERARIOS</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Slide 4 -->
    <div class="carousel-item" data-bs-interval="3000" style="background-image: url('img/index/slider/slide4.jpeg')">
      <div class="container">
        <div class="carousel-caption">
          <div id="shape-shade-slider">
            <h3 class="display-4 lh-1">Disfruta de <br>la Escalada</h3>
            <h2 class="fs-3 lh-1 mb-5 mb-md-4">Escalada Deportiva<br>y Multi Largos</h2>
            <a class="fs-6 link-offset-2 link-slide" href="escalada/escalada-deportiva">VEER INTINERARIOS</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev d-none d-lg-block" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Anterior</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon d-none d-lg-block" aria-hidden="true"></span>
    <span class="visually-hidden">Proximo</span>
  </button>
</div>

<style>

.carousel {
  height: 100%;
  scroll-snap-align: start;
}
.carousel-caption {
  position: static;
  padding-top: 103px;
}
.carousel-item {
  height: 100vh;
  min-height: 550px;
  background: no-repeat center center scroll;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
.link-slide {
	color: #ffffff;
}
#shape-shade-slider {
	width: 580px;
  background-color: rgba(0,0,0,0.5);
  padding: 40px 50px 80px 50px;
	text-align: left;
	clip-path: polygon(0px 0px, 468px 0px, 456px 69px, 485px 149px, 394px 222px, 365px 318px, 0px 320px);
}

/* ////////Small devices///////// */

@media (max-width: 575.98px) {
              
  #shape-shade-slider{
		width: 100%;
		padding: 30px 30px 60px 15px;
	}
}
  
</style>