---
import LayoutPaginas from '../../layouts/LayoutPaginas.astro'
import Content from '../../components/paginas/Content.astro'
import Titulo from '../../components/paginas/Titulo.astro'
import Slider from '../../components/paginas/Slider.astro'

const fotos = [
  {
    alt: 'Expedición Campo de Hielo',
    srcFotos: '../img/paginas/slider/mountaineering/vueltacampoloshielos/vueltaaloshielos01.jpg',
    srcThum: '../img/paginas/slider/mountaineering/vueltacampoloshielos/vueltaaloshielos01MINI.jpg',
  },
  {
    alt: 'Expedición Campo de Hielo',
    srcFotos: '../img/paginas/slider/mountaineering/vueltacampoloshielos/vueltaaloshielos02.jpg',
    srcThum: '../img/paginas/slider/mountaineering/vueltacampoloshielos/vueltaaloshielos02MINI.jpg',
  },
  {
    alt: 'Expedición Campo de Hielo',
    srcFotos: '../img/paginas/slider/mountaineering/vueltacampoloshielos/vueltaaloshielos03.jpg',
    srcThum: '../img/paginas/slider/mountaineering/vueltacampoloshielos/vueltaaloshielos03MINI.jpg',
  },
  {
    alt: 'Expedición Campo de Hielo',
    srcFotos: '../img/paginas/slider/mountaineering/vueltacampoloshielos/vueltaaloshielos04.jpg',
    srcThum: '../img/paginas/slider/mountaineering/vueltacampoloshielos/vueltaaloshielos04MINI.jpg',
  },
  {
    alt: 'Expedición Campo de Hielo',
    srcFotos: '../img/paginas/slider/mountaineering/vueltacampoloshielos/vueltaaloshielos05.jpg',
    srcThum: '../img/paginas/slider/mountaineering/vueltacampoloshielos/vueltaaloshielos05MINI.jpg',
  },
]

---

<LayoutPaginas title="Montaña en Patagonia | Expedición al Campo de Hielo" description="">
  <div class="container text-start px-3 px-lg-5">

    <Titulo title=' Montaña en Patagonia' />

    <div class="container text-center px-lg-5">
      <div class="row">

        <Content
          title='Expedición al Campo de Hielo.' 
          description='Una de las expediciones más exigente y de una belleza inigualable. Este mundo blanco de unos 13.000 km² de superficie, es de donde se desprenden la mayoría de los glaciares de la Patagonia Sur. Este paraíso blanco te lleva a un escenario único, el denominado Circo de los Altares. Lugar donde el hielo es rodeado por las grandes torres graníticas como el Cerro Torre, Egger y Standhardt entre otras.'
          difficulty=' Media'
          duration=' 7 días'
          pax=' 1 o 3 personas'
          time=' Octubre a Febrero'
          hrefitinerary='../itinerarios/montana/ExpedicionCampoHielo.pdf'

          link1=' Montaña'
          href1='/#montana'
          link2=' Campo de Hielo'
          href2='/montana/campo-hielo'

        />

        <Slider miArray={fotos} />

      </div>
    </div>
  </div>
</LayoutPaginas>

<style>
  
</style>


