---
import LayoutPaginas from '../../layouts/LayoutPaginas.astro'
import Content from '../../components/paginas/Content.astro'
import Titulo from '../../components/paginas/Titulo.astro'
import Slider from '../../components/paginas/Slider.astro'

const fotos = [
  {
    alt: 'Cerro Mojon Rojo',
    srcFotos: '../img/paginas/slider/mountaineering/cerromojonrojo/mojonrojo1.jpg',
    srcThum: '../img/paginas/slider/mountaineering/cerromojonrojo/mojonrojothumb1.jpg',
  },
  {
    alt: 'Cerro Mojon Rojo',
    srcFotos: '../img/paginas/slider/mountaineering/cerromojonrojo/mojonrojo2.jpg',
    srcThum: '../img/paginas/slider/mountaineering/cerromojonrojo/mojonrojothumb2.jpg',
  },
  {
    alt: 'Cerro Mojon Rojo',
    srcFotos: '../img/paginas/slider/mountaineering/cerromojonrojo/mojonrojo3.jpg',
    srcThum: '../img/paginas/slider/mountaineering/cerromojonrojo/mojonrojothumb3.jpg',
  },
  {
    alt: 'Cerro Mojon Rojo',
    srcFotos: '../img/paginas/slider/mountaineering/cerromojonrojo/mojonrojo4.jpg',
    srcThum: '../img/paginas/slider/mountaineering/cerromojonrojo/mojonrojothumb4.jpg',
  },
  {
    alt: 'Cerro Mojon Rojo',
    srcFotos: '../img/paginas/slider/mountaineering/cerromojonrojo/mojonrojo6.jpg',
    srcThum: '../img/paginas/slider/mountaineering/cerromojonrojo/mojonrojothumb6.jpg',
  },
]

---

<LayoutPaginas title="Montaña en Patagonia | Cerro Mojon Rojo" description="">
  <div class="container text-start px-3 px-lg-5">

    <Titulo title=' Montaña en Patagonia' />

    <div class="container text-center px-lg-5">
      <div class="row">

        <Content
          title='Cerro Mojon Rojo' 
          description='Esta particular formación constituye un interesante objetivo en el cordón del Fitz Roy, 2170msnm. Nos brinda una escalada de aventura en un gran entorno. Desde la cumbre se observan excelentes vistas del valle del torre y sus montañas. Debemos transitar el Glaciar Blanco, luego una escalada fácil con algunos pasajes más complicados que nos llevarán hasta nuestra cumbre. Una gran escalada para iniciarse en la Patagonia.'
          difficulty=' Media'
          duration=' 3 días'
          pax=' 1 o 2 personas'
          time=' Octobre a Marzo'
          hrefitinerary='/itinerarios/montana/CerroMojonRojo.pdf'

          link1=' Montaña'
          href1='/#montana'
          link2=' Cerro Mojon Rojo'
          href2='/montana/cerro-mojon-rojo'

        />

        <Slider miArray={fotos} />

      </div>
    </div>
  </div>
</LayoutPaginas>

<style>
  
</style>


