---
import LayoutPaginas from '../../layouts/LayoutPaginas.astro'
import Content from '../../components/paginas/Content.astro'
import Titulo from '../../components/paginas/Titulo.astro'
import Slider from '../../components/paginas/Slider.astro'

const fotos = [
  {
    alt: 'Cerro Madsen',
    srcFotos: '../img/paginas/slider/mountaineering/cerromadsen/cerromadsen1.jpg',
    srcThum: '../img/paginas/slider/mountaineering/cerromadsen/cerromadsenthumb1.jpg',
  },
  {
    alt: 'Cerro Madsen',
    srcFotos: '../img/paginas/slider/mountaineering/cerromadsen/cerromadsen2.jpg',
    srcThum: '../img/paginas/slider/mountaineering/cerromadsen/cerromadsenthumb2.jpg',
  },
  {
    alt: 'Cerro Madsen',
    srcFotos: '../img/paginas/slider/mountaineering/cerromadsen/cerromadsen3.jpg',
    srcThum: '../img/paginas/slider/mountaineering/cerromadsen/cerromadsenthumb3.jpg',
  },
  {
    alt: 'Cerro Madsen',
    srcFotos: '../img/paginas/slider/mountaineering/cerromadsen/cerromadsen4.jpg',
    srcThum: '../img/paginas/slider/mountaineering/cerromadsen/cerromadsenthumb4.jpg',
  },
  {
    alt: 'Cerro Madsen',
    srcFotos: '../img/paginas/slider/mountaineering/cerromadsen/cerromadsen5.jpg',
    srcThum: '../img/paginas/slider/mountaineering/cerromadsen/cerromadsenthumb5.jpg',
  },
]

---

<LayoutPaginas title="Montaña en Patagonia | Cerro Madsen" description="">
  <div class="container text-start px-3 px-lg-5">

    <Titulo title=' Montaña en Patagonia' />

    <div class="container text-center px-lg-5">
      <div class="row">

        <Content
          title='Cerro Madsen' 
          description='Camino la la Laguna de los tres, en la zona del cordón del Fitz Roy se encuentra esta montaña, 1800msnm. Constituye una excelente ascensión de dificultad baja donde se transitan todo tipo de terrenos; una muy buena opción como primera experiencia en la zona. Desde su cumbre se disfrutan las majestuosas vistas del de los glaciares del área; en frente nuestro el Cerro Fitz Roy se alza imponente como regalo a nuestro esfuerzo.'
          difficulty=' Media'
          duration=' 2 días'
          pax=' 1 o 2 personas'
          time=' Octubre a Marzo'
          hrefitinerary='/itinerarios/montana/CerroMadsen.pdf'

          link1=' Montaña'
          href1='/#montana'
          link2=' Cerro Madsen'
          href2='/montana/cerro-madsen'

        />

        <Slider miArray={fotos} />

      </div>
    </div>
  </div>
</LayoutPaginas>

<style>
  
</style>


