---
import LayoutPaginas from '../../layouts/LayoutPaginas.astro'
import Content from '../../components/paginas/Content.astro'
import Titulo from '../../components/paginas/Titulo.astro'
import Slider from '../../components/paginas/Slider.astro'

const fotos = [
  {
    alt: 'Cerro Gorra Blanca',
    srcFotos: '../img/paginas/slider/mountaineering/cerrogorrablanca/cerrogorrablanca1.jpg',
    srcThum: '../img/paginas/slider/mountaineering/cerrogorrablanca/cerrogorrablancathumb1.jpg',
  },
  {
    alt: 'Cerro Gorra Blanca',
    srcFotos: '../img/paginas/slider/mountaineering/cerrogorrablanca/cerrogorrablanca2.jpg',
    srcThum: '../img/paginas/slider/mountaineering/cerrogorrablanca/cerrogorrablancathumb2.jpg',
  },
  {
    alt: 'Cerro Gorra Blanca',
    srcFotos: '../img/paginas/slider/mountaineering/cerrogorrablanca/cerrogorrablanca6.jpg',
    srcThum: '../img/paginas/slider/mountaineering/cerrogorrablanca/cerrogorrablancathumb6.jpg',
  },
  {
    alt: 'Cerro Gorra Blanca',
    srcFotos: '../img/paginas/slider/mountaineering/cerrogorrablanca/cerrogorrablanca7.jpg',
    srcThum: '../img/paginas/slider/mountaineering/cerrogorrablanca/cerrogorrablancathumb7.jpg',
  },
  {
    alt: 'Cerro Gorra Blanca',
    srcFotos: '../img/paginas/slider/mountaineering/cerrogorrablanca/cerrogorrablanca8.jpg',
    srcThum: '../img/paginas/slider/mountaineering/cerrogorrablanca/cerrogorrablancathumb8.jpg',
  },
]

---

<LayoutPaginas title="Montaña en Patagonia | Cerro Gorra Blanca" description="">
  <div class="container text-start px-3 px-lg-5">

    <Titulo title=' Montaña en Patagonia' />

    <div class="container text-center px-lg-5">
      <div class="row">

        <Content
          title='Cerro Gorra Blanca' 
          description='Inmerso en el Campo de Hielo Patagónico sur se encuentra esta blanca montaña, 2907msnm. De particular belleza, imponentes vistas y característico clima patagónico debido a su ubicación. Los fuertes vientos del noroeste cargados de humedad forman los característicos “Hongos de hielo” que hacen de este un gran desafío para aquellos andinistas osados y entusiastas a vivir nuevas experiencias.'
          difficulty=' Media'
          duration=' 4 días'
          pax=' 1 o 2 personas'
          time=' Octubre a Marzo'
          hrefitinerary='/itinerarios/montana/CerroGorraBlanca.pdf'

          link1=' Montaña'
          href1='/#montana'
          link2=' Cerro Gorra Blanca'
          href2='/montana/cerro-gorra-blanca'

        />

        <Slider miArray={fotos} />

      </div>
    </div>
  </div>
</LayoutPaginas>

<style>

</style>


