---
import LayoutPaginas from '../../layouts/LayoutPaginas.astro'
import Content from '../../components/paginas/Content.astro'
import Titulo from '../../components/paginas/Titulo.astro'
import Slider from '../../components/paginas/Slider.astro'

const fotos = [
  {
    alt: 'Cerro Vespignani',
    srcFotos: '../img/paginas/slider/mountaineering/cerrovespignani/vespignani01.jpg',
    srcThum: '../img/paginas/slider/mountaineering/cerrovespignani/vespignani01MINI.jpg',
  },
  {
    alt: 'Cerro Vespignani',
    srcFotos: '../img/paginas/slider/mountaineering/cerrovespignani/vespignani02.jpg',
    srcThum: '../img/paginas/slider/mountaineering/cerrovespignani/vespignani02MINI.jpg',
  },
  {
    alt: 'Cerro Vespignani',
    srcFotos: '../img/paginas/slider/mountaineering/cerrovespignani/vespignani03.jpg',
    srcThum: '../img/paginas/slider/mountaineering/cerrovespignani/vespignani03MINI.jpg',
  },
  {
    alt: 'Cerro Vespignani',
    srcFotos: '../img/paginas/slider/mountaineering/cerrovespignani/vespignani04.jpg',
    srcThum: '../img/paginas/slider/mountaineering/cerrovespignani/vespignani04MINI.jpg',
  },
  {
    alt: 'Cerro Vespignani',
    srcFotos: '../img/paginas/slider/mountaineering/cerrovespignani/vespignani05.jpg',
    srcThum: '../img/paginas/slider/mountaineering/cerrovespignani/vespignani05MINI.jpg',
  },
]

---

<LayoutPaginas title="Montaña en Patagonia | Cerro Vespignani" description="">
  <div class="container text-start px-3 px-lg-5">

    <Titulo title=' Montaña en Patagonia' />

    <div class="container text-center px-lg-5">
      <div class="row">

        <Content
          title='Cerro Vespignani' 
          description='Al norte de la localidad del Chalten y sobre el Lago Del Desierto se encuentra esta particular montaña, 2146msnm. Un gran glaciar a transitar, imponentes Serac y un desnivel importante a recorrer la hacen un buen objetivo patagónico.'
          difficulty=' Baja'
          duration=' 1 día'
          pax=' 1 o 2 personas'
          time=' Octubre a Marzo'
          hrefitinerary='/itinerarios/montana/CerroVespignani.pdf'

          link1=' Montaña'
          href1='/#montana'
          link2=' Cerro Vespignani'
          href2='/montana/cerro-vespignani'

        />

        <Slider miArray={fotos} />

      </div>
    </div>
  </div>
</LayoutPaginas>

<style>
  
</style>


