---
import LayoutPaginas from '../../layouts/LayoutPaginas.astro'
import Content from '../../components/paginas/Content.astro'
import Titulo from '../../components/paginas/Titulo.astro'
import Slider from '../../components/paginas/Slider.astro'

const fotos = [
  {
    alt: 'Cerro Solo',
    srcFotos: '../img/paginas/slider/mountaineering/cerrosolo/cerrosolo5.jpg',
    srcThum: '../img/paginas/slider/mountaineering/cerrosolo/cerrosolothumb5.jpg',
  },
  {
    alt: 'Cerro Solo',
    srcFotos: '../img/paginas/slider/mountaineering/cerrosolo/cerrosolo8.jpg',
    srcThum: '../img/paginas/slider/mountaineering/cerrosolo/cerrosolothumb8.jpg',
  },
  {
    alt: 'Cerro Solo',
    srcFotos: '../img/paginas/slider/mountaineering/cerrosolo/cerrosolo7.jpg',
    srcThum: '../img/paginas/slider/mountaineering/cerrosolo/cerrosolothumb7.jpg',
  },
  {
    alt: 'Cerro Solo',
    srcFotos: '../img/paginas/slider/mountaineering/cerrosolo/cerrosolo11.jpg',
    srcThum: '../img/paginas/slider/mountaineering/cerrosolo/cerrosolothumb11.jpg',
  },
  {
    alt: 'Cerro Solo',
    srcFotos: '../img/paginas/slider/mountaineering/cerrosolo/cerrosolo6.jpg',
    srcThum: '../img/paginas/slider/mountaineering/cerrosolo/cerrosolothumb6.jpg',
  },
]

---

<LayoutPaginas title="Montaña en Patagonia | Cerro Solo" description="">
  <div class="container text-start px-3 px-lg-5">

    <Titulo title=' Montaña en Patagonia' />

    <div class="container text-center px-lg-5">
      <div class="row">

        <Content
          title='Cerro Solo' 
          description='Entre los valles del Torre y Tunel emerge este solitario cerro, 2121msnm, de singular figura y imponentes vistas. Desde aquí podemos ver el Campo de Hielo Patagonico Sur, el Viedma, Cordon del Torre y Fitz Roy. Para conquistarlo debemos ascender y transitar por pendientes de 50° de su glaciar cimero. Un gran desafío para todos aquellos que quieran tener sus primeras experiencias en una cumbre Patagónica.'
          difficulty=' Media'
          duration=' 3 días'
          pax=' 1 o 2 personas'
          time=' Octubre a Marzo'
          hrefitinerary='/itinerarios/montana/CerroSolo.pdf'

          link1=' Montaña'
          href1='/#montana'
          link2=' Cerro Solo'
          href2='/montana/cerro-solo'

        />

        <Slider miArray={fotos} />

      </div>
    </div>
  </div>
</LayoutPaginas>

<style>
  
</style>


