---
import LayoutPaginas from '../../layouts/LayoutPaginas.astro'
import Content from '../../components/paginas/Content.astro'
import Titulo from '../../components/paginas/Titulo.astro'
import Slider from '../../components/paginas/Slider.astro'

const fotos = [
  {
    alt: 'Travesía Paso Superior',
    srcFotos: '../img/paginas/slider/mountaineering/pasosuperiortraverse/travesiapasosup1.jpg',
    srcThum: '../img/paginas/slider/mountaineering/pasosuperiortraverse/travesiapasosupMINI1.jpg',
  },
  {
    alt: 'Travesía Paso Superior',
    srcFotos: '../img/paginas/slider/mountaineering/pasosuperiortraverse/travesiapasosup5.jpg',
    srcThum: '../img/paginas/slider/mountaineering/pasosuperiortraverse/travesiapasosupMINI5.jpg',
  },
  {
    alt: 'Travesía Paso Superior',
    srcFotos: '../img/paginas/slider/mountaineering/pasosuperiortraverse/travesiapasosup6.jpg',
    srcThum: '../img/paginas/slider/mountaineering/pasosuperiortraverse/travesiapasosupMINI6.jpg',
  },
  {
    alt: 'Travesía Paso Superior',
    srcFotos: '../img/paginas/slider/mountaineering/pasosuperiortraverse/travesiapasosup7.jpg',
    srcThum: '../img/paginas/slider/mountaineering/pasosuperiortraverse/travesiapasosupMINI7.jpg',
  },
  {
    alt: 'Travesía Paso Superior',
    srcFotos: '../img/paginas/slider/mountaineering/pasosuperiortraverse/travesiapasosup11.jpg',
    srcThum: '../img/paginas/slider/mountaineering/pasosuperiortraverse/travesiapasosupMINI11.jpg',
  },
]

---

<LayoutPaginas title="Montaña en Patagonia | Travesía Paso Superior - Paso Guillaumet" description="">
  <div class="container text-start px-3 px-lg-5">

    <Titulo title=' Montaña en Patagonia' />

    <div class="container text-center px-lg-5">
      <div class="row">

        <Content
          title='Travesía Paso Superior - Paso Guillaumet' 
          description='Una de las travesías por glaciares más atractivas del Chalten. Recorren los glaciares De Los Tres y Fitz Roy Norte. Sumado a que se transita por la base del Cerro Fitz Roy, esbeltas paredes de granito son el entorno que rodea a esta gran aventura.'
          difficulty=' Media'
          duration=' 3 días'
          pax=' 2 personas'
          time=' Octubre a Marzo'
          hrefitinerary='/itinerarios/montana/TravesiaPasoSuperiorPasoGuillaumet.pdf'

          link1=' Montaña'
          href1='/#montana'
          link2=' Travesía Paso Superior'
          href2='/montana/travesia-paso-superior'

        />

        <Slider miArray={fotos} />

      </div>
    </div>
  </div>
</LayoutPaginas>

<style>
  
</style>


