---
import LayoutPaginas from '../../layouts/LayoutPaginas.astro'
import Content from '../../components/paginas/Content.astro'
import Titulo from '../../components/paginas/Titulo.astro'
import Slider from '../../components/paginas/Slider.astro'

const fotos = [
  {
    alt: 'Tres Valles Traverse',
    srcFotos: '../img/paginas/slider/mountaineering/tresvalles/tresvalles1.jpg',
    srcThum: '../img/paginas/slider/mountaineering/tresvalles/tresvallesthumb1.jpg',
  },
  {
    alt: 'Tres Valles Traverse',
    srcFotos: '../img/paginas/slider/mountaineering/tresvalles/tresvalles2.jpg',
    srcThum: '../img/paginas/slider/mountaineering/tresvalles/tresvallesthumb2.jpg',
  },
  {
    alt: 'Tres Valles Traverse',
    srcFotos: '../img/paginas/slider/mountaineering/tresvalles/tresvalles3.jpg',
    srcThum: '../img/paginas/slider/mountaineering/tresvalles/tresvallesthumb3.jpg',
  },
  {
    alt: 'Tres Valles Traverse',
    srcFotos: '../img/paginas/slider/mountaineering/tresvalles/tresvalles4.jpg',
    srcThum: '../img/paginas/slider/mountaineering/tresvalles/tresvallesthumb4.jpg',
  },
  {
    alt: 'Tres Valles Traverse',
    srcFotos: '../img/paginas/slider/mountaineering/tresvalles/tresvalles5.jpg',
    srcThum: '../img/paginas/slider/mountaineering/tresvalles/tresvallesthumb5.jpg',
  },
]

---

<LayoutPaginas title="Montaña en Patagonia | Travesía Tres Valles" description="">
  <div class="container text-start px-3 px-lg-5">

    <Titulo title=' Montaña en Patagonia' />

    <div class="container text-center px-lg-5">
      <div class="row">

        <Content
          title='Travesía Tres Valles' 
          description='Recorra los tres valles más importantes del área, el valle del Fitz Roy, el valle del Cerro Torre y el valle del Río Toro. Entre las montañas que podrá escalar se encuentran el Cerro Madsen, Loma de las Pizarras, Cerro Solo, Cerro Huemul, Paso del Viento y Paso de las Agachonas. Podrá apreciar el Campo de Hielo, los cordones del Fitz Roy y Cerro Torre y la transición que existe entre la zona Montañosa y la Estepa Patagónica.'
          difficulty=' Moderada'
          duration=' 6 días'
          pax=' 10 personas'
          time=' Octubre a Marzo'
          hrefitinerary='../itinerarios/montana/TravesiaTresValles.pdf'

          link1=' Montaña'
          href1='/#montana'
          link2=' Travesía Tres Valles'
          href2='/montana/travesia-tres-valles'

        />

        <Slider miArray={fotos} />

      </div>
    </div>
  </div>
</LayoutPaginas>

<style>
  
</style>


