---
import LayoutPaginas from '../../layouts/LayoutPaginas.astro'
import Content from '../../components/paginas/Content.astro'
import Titulo from '../../components/paginas/Titulo.astro'
import Slider from '../../components/paginas/Slider.astro'

const fotos = [
  {
    alt: 'Tour de Esquí en Patagonia',
    srcFotos: '/img/paginas/slider/skiing/tourpatagonia/tourpatagonia1.jpg',
    srcThum: '/img/paginas/slider/skiing/tourpatagonia/tourpatagoniathumb1.jpg',
  },
  {
    alt: 'Tour de Esquí en Patagonia',
    srcFotos: '/img/paginas/slider/skiing/tourpatagonia/tourpatagonia6.jpg',
    srcThum: '/img/paginas/slider/skiing/tourpatagonia/tourpatagoniathumb6.jpg',
  },
  {
    alt: 'Tour de Esquí en Patagonia',
    srcFotos: '/img/paginas/slider/skiing/tourpatagonia/tourpatagonia3.jpg',
    srcThum: '/img/paginas/slider/skiing/tourpatagonia/tourpatagoniathumb3.jpg',
  },
  {
    alt: 'Tour de Esquí en Patagonia',
    srcFotos: '/img/paginas/slider/skiing/tourpatagonia/tourpatagonia4.jpg',
    srcThum: '/img/paginas/slider/skiing/tourpatagonia/tourpatagoniathumb4.jpg',
  },
  {
    alt: 'Tour de Esquí en Patagonia',
    srcFotos: '/img/paginas/slider/skiing/tourpatagonia/tourpatagonia2.jpg',
    srcThum: '/img/paginas/slider/skiing/tourpatagonia/tourpatagoniathumb2.jpg',
  },
]

---

<LayoutPaginas title="Esquí en Patagonia | Tour de Esquí en Patagonia" description="">
  <div class="container text-start px-3 px-lg-5">

    <Titulo title=' Esquí en Patagonia' />

    <div class="container text-center px-lg-5">
      <div class="row">

        <Content
          title='Tour de Esquí en Patagonia' 
          description='El mejor tour por los majestuosos Volcanes y Montañas de la Patagonia. Esta expedición tiene dos etapas a las cuales te puedes sumar, o bien participar en ambas. Tienen un único objetivo, buscar la mejor nieve y disfrutar de los paisajes más imponente de la patagonia. Recorreremos de norte a sur la patagonia empezando por San Carlos de Bariloche en la provincia de Río Negro y terminando en la localidad de El Chaltén provincia de Santa Cruz.'
          difficulty=' Media a Alta'
          duration=' 15 días (11 días de actividad más 4 días extra por clima y logística)'
          pax=' 1 a 3 personas'
          time=' Octubre'
          hrefitinerary='/itinerarios/esqui/TourPatagonia.pdf'

          link1=' Esquí'
          href1='/#esqui'
          link2=' Tour en Patagonia'
          href2='/esqui/esqui-tour-patagonia'

        />

        <Slider miArray={fotos} />

      </div>
    </div>
  </div>
</LayoutPaginas>

<style>
  
</style>


