---
import LayoutPaginas from '../../layouts/LayoutPaginas.astro'
import Content from '../../components/paginas/Content.astro'
import Titulo from '../../components/paginas/Titulo.astro'
import Slider from '../../components/paginas/Slider.astro'

const fotos = [
  {
    alt: 'Volcanes de Patagonia',
    srcFotos: '/img/paginas/slider/skiing/volcanespatagonia/volcanespatagonia1.jpg',
    srcThum: '/img/paginas/slider/skiing/volcanespatagonia/volcanespatagoniathumb1.jpg',
  },
  {
    alt: 'Volcanes de Patagonia',
    srcFotos: '/img/paginas/slider/skiing/volcanespatagonia/volcanespatagonia6.jpg',
    srcThum: '/img/paginas/slider/skiing/volcanespatagonia/volcanespatagoniathumb6.jpg',
  },
  {
    alt: 'Volcanes de Patagonia',
    srcFotos: '/img/paginas/slider/skiing/volcanespatagonia/volcanespatagonia5.jpg',
    srcThum: '/img/paginas/slider/skiing/volcanespatagonia/volcanespatagoniathumb5.jpg',
  },
  {
    alt: 'Volcanes de Patagonia',
    srcFotos: '/img/paginas/slider/skiing/volcanespatagonia/volcanespatagonia4.jpg',
    srcThum: '/img/paginas/slider/skiing/volcanespatagonia/volcanespatagoniathumb4.jpg',
  },
  {
    alt: 'Volcanes de Patagonia',
    srcFotos: '/img/paginas/slider/skiing/volcanespatagonia/volcanespatagonia2.jpg',
    srcThum: '/img/paginas/slider/skiing/volcanespatagonia/volcanespatagoniathumb2.jpg',
  },
]

---

<LayoutPaginas title="Esquí en Patagonia | Volcanes de Patagonia" description="">
  <div class="container text-start px-3 px-lg-5">

    <Titulo title=' Esquí en Patagonia' />

    <div class="container text-center px-lg-5">
      <div class="row">

        <Content
          title='Volcanes de Patagonia' 
          description='Este viaje de esquí por patagonia nos llevará a diferentes lugares, en busca de las mejores condiciones de nieve y clima. Fantásticas vistas de esta región será nuestra recompensa al esfuerzo realizado para alcanzarlas. El Programa es flexible y se adaptara a las condiciones climáticas y al nivel del del grupo. El cual podrá alterar el orden de los lugares a visitar.'
          difficulty=' Baja a Media (referencia, ser capaz de bajar pistas negras en un centro de esquí)'
          duration=' 7 día'
          pax=' 1 a 4 personas'
          time=' Septiembre a Octubre'
          hrefitinerary='/itinerarios/esqui/VolcanesPatagonia.pdf'

          link1=' Esquí'
          href1='/#esqui'
          link2=' Volcanes de Patagonia'
          href2='/esqui/volcanes-patagonia'

        />

        <Slider miArray={fotos} />

      </div>
    </div>
  </div>
</LayoutPaginas>

<style>
  
</style>


