---
import LayoutPaginas from '../../layouts/LayoutPaginas.astro'
import Content from '../../components/paginas/Content.astro'
import Titulo from '../../components/paginas/Titulo.astro'
import Slider from '../../components/paginas/Slider.astro'

const fotos = [
  {
    alt: 'Volcanoes in Patagonia',
    srcFotos: '/img/paginas/slider/skiing/volcanespatagonia/volcanespatagonia1.jpg',
    srcThum: '/img/paginas/slider/skiing/volcanespatagonia/volcanespatagoniathumb1.jpg',
  },
  {
    alt: 'Volcanoes in Patagonia',
    srcFotos: '/img/paginas/slider/skiing/volcanespatagonia/volcanespatagonia6.jpg',
    srcThum: '/img/paginas/slider/skiing/volcanespatagonia/volcanespatagoniathumb6.jpg',
  },
  {
    alt: 'Volcanoes in Patagonia',
    srcFotos: '/img/paginas/slider/skiing/volcanespatagonia/volcanespatagonia5.jpg',
    srcThum: '/img/paginas/slider/skiing/volcanespatagonia/volcanespatagoniathumb5.jpg',
  },
  {
    alt: 'Volcanoes in Patagonia',
    srcFotos: '/img/paginas/slider/skiing/volcanespatagonia/volcanespatagonia4.jpg',
    srcThum: '/img/paginas/slider/skiing/volcanespatagonia/volcanespatagoniathumb4.jpg',
  },
  {
    alt: 'Volcanoes in Patagonia',
    srcFotos: '/img/paginas/slider/skiing/volcanespatagonia/volcanespatagonia2.jpg',
    srcThum: '/img/paginas/slider/skiing/volcanespatagonia/volcanespatagoniathumb2.jpg',
  },
]

---

<LayoutPaginas title="Patagonia Ski | Volcanoes in Patagonia" description="">
  <div class="container text-start px-3 px-lg-5">

    <Titulo title=' Patagonia Ski' />

    <div class="container text-center px-lg-5">
      <div class="row">

        <Content
          title='Volcanoes in Patagonoia' 
          description='This volcanoes ski trip offers many different options, in search of the best conditions of snow and climate. The amazing views from the mountains will be a constant reward while skiing Patagonia. The itinerary is flexible and will adapt to the weather conditions and the level of the group. This may alter the order of the places to visit.'
          difficulty=' Low to High (as a reference you should be able to ski double diamonds)'
          duration=' 7 days'
          pax=' 1 o 4 persons'
          time=' September to October'
          hrefitinerary='/itineraries/skiing/VolcanoesPatagonia.pdf'

          link1=' Skiing'
          href1='/#skiing'
          link2=' Volcanoes in Patagonia'
          href2='/skiing/volcanoes-in-patagonia'

        />

        <Slider miArray={fotos} />

      </div>
    </div>
  </div>
</LayoutPaginas>

<style>
  
</style>


